{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}


  <div class="row">
    <div class="col-6">
      <h5>Indicazioni di Rischio</h5>
      <p>Inserire/modificare le Indicazioni di Rischio.</p>                  
    </div>
    <div class="col-6 text-end">
      <a href="{% url 'chem_man:aggiungi_hazard_statement' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Indicazione di Rischio</a>
    </div>
  </div>

  <!-- Inizio filtro -->
    <div class="row">
      <div class="col">
        <div class="card card-body">
    
          
          <form method="get">
    
            <div class="table-responsive-sm">
              <table class="table table-hover table-striped table-bordered">
                <thead class="thead-dark">
                  <tr>     
                    <th>Indicazione Pericolo</th>
                    <th>Categoria Pericolo</th>
                    
                  </tr>
                </thead>
                
                <tbody>
                <tr>
                  <td style="width: 20%">                
                    {% render_field filter_hazard_statements.form.hazard_statement class="form-control" %}
                  </td>
                  
                  <td style="width: 20%">
                    {% render_field filter_hazard_statements.form.hazard_category class="form-control" %}
                  </td>
                  
                </tr>
          
                
                
              </tbody>
              </table>
            </div>
              
    
            
    
            <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i>&nbsp;&nbsp; Cerca</button>
            <a class="btn btn-success" href="{% url 'chem_man:tabelle_generiche' %}"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Pulisci campi</a>
            
          </form>
          
          
        </div>
      </div>
      
    </div>
    <!-- Fine filtro -->
    <p>Numero Indicazioni di Pericolo totale {{ tot_hazard_statements }} - Numero Indicazioni di Pericolo filtrate {{ hazard_statements_filter_count }}</p>

  <div class="table-container">
    <table class="table table-bordered table-striped mt-2">
      <thead>
        <tr>
          <th>Codice</th> 
          <th>Descrizione</th> 
          <th>Azione</th>
          
        </tr>
      </thead>
      <tbody>
        {% for hazard_statement in hazard_statements_paginator %}
        <tr>        
          
          <td><a href="{% url 'chem_man:modifica_hazard_statement' pk=hazard_statement.pk %}">{{ hazard_statement.hazard_statement }}</a></td>
          <td>{{ hazard_statement.descrizione|truncatechars:20 }}</td>
          <td class="text-center"><a href="{% url 'chem_man:delete_hazard_statement' pk=hazard_statement.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{hazard_statement.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
        </tr>  
        {% endfor %}
      </tbody>
    </table>
  </div>

<!-- Paginazione -->
  <div class="pagination">
    <span class="step-links">
      {% if hazard_statements_paginator.has_previous %}
        <a href="?page_hazard_statements={{ hazard_statements_paginator.previous_page_number }}">precedente</a>
      {% endif %}

      <span class="current-page">{{ hazard_statements_paginator.number }}</span>

      {% if hazard_statements_paginator.has_next %}
        <a href="?page_hazard_statements={{ hazard_statements_paginator.next_page_number }}">successivo</a>
      {% endif %}
    </span>
  </div>
  
<!-- Fine Paginazione -->

