{% extends 'core/base.html' %} 
{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}
{% block head_title %}{{ block.super }} - Procedura{% endblock head_title %} 

{% block sidenav %}
{% include "core/partials/_sidenav_procedure.html" %}
{% endblock %}

{% block content %}
{% include 'core/modals/delConfirm.html' %}

<div class="container">
    <br>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
          <li class="breadcrumb-item"><a href="{% url 'manualeprocedure:procedure_home' %}">Manuale Procedure</a></li>        
  
          {% if form.instance.id  %}
              <li class="breadcrumb-item active" aria-current="page">{{ procedura.identificativo }} del {{ procedura.data_procedura }}</li>
          {% else %}
              <li class="breadcrumb-item active" aria-current="page">Aggiungi Procedura</li>
          {% endif %}             
          
          
      </ol>
  </nav>
    
    <hr>
    {% include "core/partials/_messages.html" %}
    <!-- Form Procedura -->
    
    <hr>

    


    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#procedura-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Procedura</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="moduli-tab" data-bs-toggle="tab" data-bs-target="#moduli-tab-pane" type="button" role="tab" aria-controls="moduli-tab-pane" aria-selected="false">Moduli</button>
      </li>
     
    </ul>

    

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="procedura-tab-pane" role="tabpanel" aria-labelledby="procedura-tab" tabindex="0">
        
        <div class="form-group mt-3">
          <form class="mt-3" method="POST" novalidate enctype="multipart/form-data">
              {% csrf_token %}
              
              <input type="submit" name="salva_esci" class="btn btn-success mb-2 me-1" value="Salva ed Esci">
              <input type="submit" name="salva_continua" class="btn btn-success mb-2 me-1" value="Salva e Continua">
          
                  <div class="row mb-4 mt-3">
                    
                    <div class="col-md-12 border rounded shadow-sm">
                      <div class="row mt-3">
                          <div class = "col-md-3">
                            {{ form.identificativo|as_crispy_field }}
                          </div>
                          
                          <div class="col-md-2">
                            {{ form.data_procedura|as_crispy_field }}
                          </div>
                          <div class="col-md-3">
                            {{ form.descrizione|as_crispy_field }} 
                          </div> 
                          
                          <div class="col-md-4">
                            {{ form.fk_lwgsection|as_crispy_field }}
                          </div>    
                      </div>
                      <div class="row"> 
                        <div class="col-8">
                          {{ form.note|as_crispy_field }}
                        </div>                         
                        
                      </div>
                      
                      
                      <hr>
                      

                      

                  </div>
                    </div>

      <!-- fine form -->
      </form>
      </div>
      <!-- Lista Revisioni -->
      <div class="row">
        <div class="col text-end">
          {% if form.instance.id  %}
            <a href="{% url 'manualeprocedure:crea_revisione_procedura' pk=procedura.pk %}" class="btn btn-success mt-2 "><i class="bi bi-file-earmark-plus"></i> Aggiungi Revisione</a>
          {% else %}
            <button class="btn btn-outline-success mt-2">Salvare per aggiungere</button>
          {% endif %}
        </div>
      </div>
      
      <div class="row">
        
      </div>
      {% if form.instance.id  %}
        <table class="table table-bordered table-striped mt-2">
          <thead>
            <tr>
              <th>Numero Revisione</th>            
              <th>Data Revisione</th>
              <th>Documento</th>
              <th>Azione</th>
            </tr>
          </thead>
          <tbody>
            
            {% for revisione in elenco_revisioni %}
            <tr>        
              
              <td><a href="{% url 'manualeprocedure:modifica_revisione_procedura' pk=procedura.pk id=revisione.pk %}">{{ revisione.n_revisione }}</a></td>
              <td>{{ revisione.data_revisione }}</td>   
              {% if revisione.documento %} 
                <td><a href="{{ revisione.documento.url }}" download>{{ revisione.documento.url }}</a></td>                       
              {% else %}
                <td>Nessun documento associato</td>                       
              {% endif %}
              <td class="text-center"><a href="{% url 'manualeprocedure:delete_revisione_procedura' pk=revisione.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{revisione.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>             
            </tr>  
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
      
      <!-- Fine Lista Revisioni -->

      </div>

      <div class="tab-pane fade" id="moduli-tab-pane" role="tabpanel" aria-labelledby="moduli-tab" tabindex="0">
        <div class="row">
          <div class="col text-end">
            {% if form.instance.id  %}
              <a href="{% url 'manualeprocedure:crea_modulo' pk=procedura.pk %}" class="btn btn-success mt-2 "><i class="bi bi-file-earmark-plus"></i> Aggiungi Modulo</a>
            {% else %}
              <button class="btn btn-outline-success mt-2">Salvare per aggiungere</button>
            {% endif %}
          </div>
        </div>
        
        <div class="row">
          
        </div>
        {% if form.instance.id  %}
          <table class="table table-bordered table-striped mt-2">
            <thead>
              <tr>
                <th>Identificativo</th>            
                <th>Data Modulo</th>
                <th>Azione</th>
              </tr>
            </thead>
            <tbody>
              
              {% for modulo in elenco_moduli %}
              <tr>        
                
                <td><a href="{% url 'manualeprocedure:modifica_modulo' pk=procedura.pk id=modulo.pk %}">{{ modulo.identificativo }}</a></td>
                <td>{{ modulo.data_modulo }}</td>                           
                <td class="text-center"><a href="{% url 'manualeprocedure:delete_modulo' pk=modulo.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{modulo.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>             
              </tr>  
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
      
      
    

    

        


</div>

{% endblock content %}