{% extends 'core/base.html' %} 
{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}
{% block head_title %}{{ block.super }} - Tabelle Generiche {% endblock head_title %} 

{% block sidenav %}
{% include "core/partials/_sidenav_chem_man.html" %}
{% endblock %}

{% block content %}
{% include 'core/modals/delConfirm.html' %}

<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'chem_man:home_prodotti_chimici' %}">Lista Prodotti Chimici</a></li>     
        <li class="breadcrumb-item active" aria-current="page">Tabelle Generiche</li>        
    </ol>

</nav>
<div class="container">
  <br>
  <h3>Tabelle Generiche</h3>
  <hr>

  {% include "core/partials/_messages.html" %}


  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <h5>Sostanze</h5>
          <p>Inserire/modificare le sostanze da associare ai prodotti.</p>                  
        </div>
        <div class="col-6 text-end">
          <a href="{% url 'chem_man:aggiungi_sostanza' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Sostanza</a>
        </div>
      </div>
    <!-- Inizio filtro -->
        <div class="row">
          <div class="col">
            <div class="card card-body">
        
              
              <form method="get">
        
                <div class="table-responsive-sm">
                  <table class="table table-hover table-striped table-bordered">
                    <thead class="thead-dark">
                      <tr>     
                        <th>Numero CAS</th>
                        <th>Numero EC</th>
                        
                      </tr>
                    </thead>
                    
                    <tbody>
                    <tr>
                      <td style="width: 20%">                
                        {% render_field filter_sostanze.form.num_cas class="form-control" %}
                      </td>
                      
                      <td style="width: 20%">
                        {% render_field filter_sostanze.form.num_ec class="form-control" %}
                      </td>
                      
                    </tr>
              
                    
                    
                  </tbody>
                  </table>
                </div>
                  
        
                
        
                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i>&nbsp;&nbsp; Cerca</button>
                <a class="btn btn-success" href="{% url 'chem_man:tabelle_generiche' %}"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Pulisci campi</a>
                
              </form>
              
              
            </div>
          </div>
          
        </div>
        <!-- Fine filtro -->



      <p>Numero sostanze totale {{ tot_sostanze }} - Numero sostanze filtrate {{ sostanze_filter_count }}</p>
      <div class="table-container">
        <table class="table table-bordered table-striped mt-2">
          <thead>
            <tr>
              <th>Descrizione</th> 
              <th>N. CAS</th> 
              <th>N. EC</th> 

              <th>Azione</th>
              
            </tr>
          </thead>
          <tbody>
            {% for sostanza in sostanze_paginator %}
            <tr>        
              
              <td><a href="{% url 'chem_man:modifica_sostanza' pk=sostanza.pk %}">{{ sostanza.descrizione|truncatechars:20 }}</a></td>
              <td>{{ sostanza.num_cas }}</td>
              <td>{{ sostanza.num_ec }}</td>
              <td class="text-center"><a href="{% url 'chem_man:delete_sostanza' pk=sostanza.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{sostanza.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
            </tr>  
            {% endfor %}
          </tbody>
        </table>
      </div>
  <!-- Paginazione -->
      <div class="pagination">
        <span class="step-links">
          {% if sostanze_paginator.has_previous %}
            <a href="?page={{ sostanze_paginator.previous_page_number }}">precedente</a>
          {% endif %}

          <span class="current-page">{{ sostanze_paginator.number }}</span>

          {% if sostanze_paginator.has_next %}
            <a href="?page={{ sostanze_paginator.next_page_number }}">successivo</a>
          {% endif %}
        </span>
      </div>
      
  <!-- Fine Paginazione -->

    </div>




    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <h5>Sostanze SVHC</h5>
          <p>Inserire/Modificare le Sostanze SVHC. L'elenco serve per avvisare della presenza nelle SDS.</p>                  
        </div>
        <div class="col-6 text-end">
          <a href="{% url 'chem_man:aggiungi_sostanza_svhc' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Sostanza SVHC</a>
        </div>
      </div>

      <!-- Inizio filtro -->
        <div class="row">
          <div class="col">
            <div class="card card-body">
        
              
              <form method="get">
        
                <div class="table-responsive-sm">
                  <table class="table table-hover table-striped table-bordered">
                    <thead class="thead-dark">
                      <tr>     
                        <th>Numero CAS</th>
                        <th>Numero EC</th>
                        
                      </tr>
                    </thead>
                    
                    <tbody>
                    <tr>
                      <td style="width: 20%">                
                        {% render_field filter_svhc.form.num_cas_svhc class="form-control" %}
                      </td>
                      
                      <td style="width: 20%">
                        {% render_field filter_svhc.form.num_ec_svhc class="form-control" %}
                      </td>
                      
                    </tr>
              
                    
                    
                  </tbody>
                  </table>
                </div>
                  
        
                
        
                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i>&nbsp;&nbsp; Cerca</button>
                <a class="btn btn-success" href="{% url 'chem_man:tabelle_generiche' %}"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Pulisci campi</a>
                
              </form>
              
              
            </div>
          </div>
          
        </div>
        <!-- Fine filtro -->
        <p>Numero sostanze SVHC totale {{ tot_sostanze_svhc }} - Numero sostanze SVHC filtrate {{ sostanze_svhc_filter_count }}</p>
      <div class="table-container">
        <table class="table table-bordered table-striped mt-2">
          <thead>
            <tr>
              <th>Descrizione</th>            
              <th>N. CAS</th>
              <th>Azione</th>
              
            </tr>
          </thead>
          <tbody>
            {% for sostanza_svhc in sostanze_svhc_paginator %}
            <tr>        
              
              <td><a href="{% url 'chem_man:modifica_sostanza_svhc' pk=sostanza_svhc.pk %}">{{ sostanza_svhc.descrizione|truncatechars:20 }}</a></td>
              <td>{{ sostanza_svhc.num_cas }}</td>
              <td class="text-center"><a href="{% url 'chem_man:delete_sostanza_svhc' pk=sostanza_svhc.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{sostanza_svhc.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
            </tr>  
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- Paginazione -->
      <div class="pagination">
        <span class="step-links">
          {% if sostanze_svhc_paginator.has_previous %}
            <a href="?page={{ sostanze_svhc_paginator.previous_page_number }}">precedente</a>
          {% endif %}

          <span class="current-page">{{ sostanze_svhc_paginator.number }}</span>

          {% if sostanze_svhc_paginator.has_next %}
            <a href="?page={{ sostanze_svhc_paginator.next_page_number }}">successivo</a>
          {% endif %}
        </span>
      </div>
      
  <!-- Fine Paginazione -->
    </div>


    

  </div>

  <br>
  <hr>


  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <h5>Indicazioni di Rischio</h5>
          <p>Inserire/modificare le Indicazioni di Rischio.</p>                  
        </div>
        <div class="col-6 text-end">
          <a href="{% url 'chem_man:aggiungi_hazard_statement' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Indicazione di Rischio</a>
        </div>
      </div>

      <!-- Inizio filtro -->
        <div class="row">
          <div class="col">
            <div class="card card-body">
        
              
              <form method="get">
        
                <div class="table-responsive-sm">
                  <table class="table table-hover table-striped table-bordered">
                    <thead class="thead-dark">
                      <tr>     
                        <th>Indicazione Pericolo</th>
                        <th>Categoria Pericolo</th>
                        
                      </tr>
                    </thead>
                    
                    <tbody>
                    <tr>
                      <td style="width: 20%">                
                        {% render_field filter_hazard_statements.form.hazard_statement class="form-control" %}
                      </td>
                      
                      <td style="width: 20%">
                        {% render_field filter_hazard_statements.form.hazard_category class="form-control" %}
                      </td>
                      
                    </tr>
              
                    
                    
                  </tbody>
                  </table>
                </div>
                  
        
                
        
                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i>&nbsp;&nbsp; Cerca</button>
                <a class="btn btn-success" href="{% url 'chem_man:tabelle_generiche' %}"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Pulisci campi</a>
                
              </form>
              
              
            </div>
          </div>
          
        </div>
        <!-- Fine filtro -->
        <p>Numero Indicazioni di Pericolo totale {{ tot_hazard_statements }} - Numero Indicazioni di Pericolo filtrate {{ hazard_statements_filter_count }}</p>

      <div class="table-container">
        <table class="table table-bordered table-striped mt-2">
          <thead>
            <tr>
              <th>Codice</th> 
              <th>Descrizione</th> 
              <th>Azione</th>
              
            </tr>
          </thead>
          <tbody>
            {% for hazard_statement in hazard_statements_paginator %}
            <tr>        
              
              <td><a href="{% url 'chem_man:modifica_hazard_statement' pk=hazard_statement.pk %}">{{ hazard_statement.hazard_statement }}</a></td>
              <td>{{ hazard_statement.descrizione|truncatechars:20 }}</td>
              <td class="text-center"><a href="{% url 'chem_man:delete_hazard_statement' pk=hazard_statement.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{hazard_statement.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
            </tr>  
            {% endfor %}
          </tbody>
        </table>
      </div>

    <!-- Paginazione -->
      <div class="pagination">
        <span class="step-links">
          {% if hazard_statements_paginator.has_previous %}
            <a href="?page={{ hazard_statements_paginator.previous_page_number }}">precedente</a>
          {% endif %}

          <span class="current-page">{{ hazard_statements_paginator.number }}</span>

          {% if hazard_statements_paginator.has_next %}
            <a href="?page={{ hazard_statements_paginator.next_page_number }}">successivo</a>
          {% endif %}
        </span>
      </div>
      
  <!-- Fine Paginazione -->
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <h5>Consigli di Prudenza</h5>
          <p>Inserire/Modificare i Consigli di Prudenza.</p>                  
        </div>
        <div class="col-6 text-end">
          <a href="{% url 'chem_man:aggiungi_precautionary_statement' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Consiglio di Prudenza</a>
        </div>
      </div>

      <!-- Inizio filtro -->
        <div class="row">
          <div class="col">
            <div class="card card-body">
        
              
              <form method="get">
        
                <div class="table-responsive-sm">
                  <table class="table table-hover table-striped table-bordered">
                    <thead class="thead-dark">
                      <tr>     
                        <th>Consiglio Prudenza</th>
                        <th>Descrizione</th>
                        
                      </tr>
                    </thead>
                    
                    <tbody>
                    <tr>
                      <td style="width: 20%">                
                        {% render_field filter_precautionary_statements.form.codice class="form-control" %}
                      </td>
                      
                      <td style="width: 20%">
                        {% render_field filter_precautionary_statements.form.descrizione class="form-control" %}
                      </td>
                      
                    </tr>
              
                    
                    
                  </tbody>
                  </table>
                </div>
                  
        
                
        
                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i>&nbsp;&nbsp; Cerca</button>
                <a class="btn btn-success" href="{% url 'chem_man:tabelle_generiche' %}"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Pulisci campi</a>
                
              </form>
              
              
            </div>
          </div>
          
        </div>
        <!-- Fine filtro -->
        <p>Numero Consigli di Prudenza totale {{ tot_precautionary_statements }} - Numero IConsigli di Prudenza filtrate {{ precautionary_statements_filter_count }}</p>


      <div class="table-container">
        <table class="table table-bordered table-striped mt-2">
          <thead>
            <tr>
              <th>Codice</th>            
              <th>Descrizione</th>
              <th>Azione</th>
              
            </tr>
          </thead>
          <tbody>
            {% for precautionary_statement in precautionary_statements_paginator %}
            <tr>        
              
              <td><a href="{% url 'chem_man:modifica_precautionary_statement' pk=precautionary_statement.pk %}">{{ precautionary_statement.codice }}</a></td>
              <td>{{ precautionary_statement.descrizione|truncatechars:20 }}</td>
              
              <td class="text-center"><a href="{% url 'chem_man:delete_precautionary_statement' pk=precautionary_statement.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{precautionary_statement.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
            </tr>  
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- Paginazione -->
      <div class="pagination">
        <span class="step-links">
          {% if precautionary_statements_paginator.has_previous %}
            <a href="?page={{ precautionary_statements_paginator.previous_page_number }}">precedente</a>
          {% endif %}

          <span class="current-page">{{ precautionary_statements_paginator.number }}</span>

          {% if precautionary_statements_paginator.has_next %}
            <a href="?page={{ precautionary_statements_paginator.next_page_number }}">successivo</a>
          {% endif %}
        </span>
      </div>
      
  <!-- Fine Paginazione -->
    </div>



  </div>

<!-- TERZA RIGA -->

  <br>
  <hr>


  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <h5>Simboli GHS</h5>
          <p>Inserire/modificare i simboli GHS.</p>                  
        </div>
        <div class="col-6 text-end">
          <a href="{% url 'chem_man:aggiungi_simbolo_ghs' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Simbolo</a>
        </div>
      </div>

      <!-- Inizio filtro -->
        <div class="row">
          <div class="col">
            <div class="card card-body">
        
              
              <form method="get">
        
                <div class="table-responsive-sm">
                  <table class="table table-hover table-striped table-bordered">
                    <thead class="thead-dark">
                      <tr>     
                        <th>Codice</th>
                        
                        
                      </tr>
                    </thead>
                    
                    <tbody>
                    <tr>
                      <td style="width: 20%">                
                        {% render_field filter_simboli_ghs.form.codice class="form-control" %}
                      </td>
                      
                      
                      
                    </tr>
              
                    
                    
                  </tbody>
                  </table>
                </div>
                  
        
                
        
                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i>&nbsp;&nbsp; Cerca</button>
                <a class="btn btn-success" href="{% url 'chem_man:tabelle_generiche' %}"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Pulisci campi</a>
                
              </form>
              
              
            </div>
          </div>
          
        </div>
        <!-- Fine filtro -->
        <p>Numero Simboli GHS totale {{ tot_simboli_ghs }} - Numero Simboli GHS filtrate {{ simboli_ghs_filter_count }}</p>

      <div class="table-container">
        <table class="table table-bordered table-striped mt-2">
          <thead>
            <tr>
              <th>Codice</th> 
              <th>Immagine</th> 
              <th>Azione</th>
              
            </tr>
          </thead>
          <tbody>
            {% for simbolo_ghs in simboli_ghs_paginator %}
            <tr>        
              
              <td><a href="{% url 'chem_man:modifica_simbolo_ghs' pk=simbolo_ghs.pk %}">{{ simbolo_ghs.codice }}</a></td>
              
              {% if simbolo_ghs.symbol_image %}
                <td class="text-center"><img src="{{ simbolo_ghs.symbol_image.url }}" alt="Symbol Image"></td>
              {% else %}
                <td>No Image</td>
              {% endif %}
              </td>
              <td class="text-center"><a href="{% url 'chem_man:delete_simbolo_ghs' pk=simbolo_ghs.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{delete_simbolo_ghs.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
            </tr>  
            {% endfor %}
          </tbody>
        </table>
      </div>

    <!-- Paginazione -->
      <div class="pagination">
        <span class="step-links">
          {% if simboli_ghs_paginator.has_previous %}
            <a href="?page={{ simboli_ghs_paginator.previous_page_number }}">precedente</a>
          {% endif %}

          <span class="current-page">{{ simboli_ghs_paginator.number }}</span>

          {% if simboli_ghs_paginator.has_next %}
            <a href="?page={{ simboli_ghs_paginator.next_page_number }}">successivo</a>
          {% endif %}
        </span>
      </div>
      
  <!-- Fine Paginazione -->
    </div>

    



  </div>


</div>

{% endblock content %}