{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Campo di Applicazione {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_autorizzazioni.html" %}
{% endblock %}

{% block content %}
{% include 'core/modals/delConfirm.html' %}

<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'autorizzazioni:autorizzazioni_home' %}">Elenco Autorizzazioni</a></li>        
        <li class="breadcrumb-item"><a href="{% url 'autorizzazioni:tabelle_generiche_autorizzazioni' %}">Tabelle Generiche</a></li>        

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica {{ campo_applicazione.descrizione }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi campo di applicazione</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica {{ campo_applicazione.descrizione }}</h3>
        {% else %}
            <h3> Aggiungi campo di applicazione</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>


        <form method="post">
            {% csrf_token %}

            
            <input type="submit" name="salva_esci" class="btn btn-success mb-2 me-1" value="Salva ed Esci">
            <input type="submit" name="salva_continua" class="btn btn-success mb-2 me-1" value="Salva e continua">
            <button type="button" class="btn btn-danger mb-2 me-1" onclick="goBack()"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
            <div class="row mt-2">
                <div class="col-4">
                    {{ form.descrizione|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.is_applicabile|as_crispy_field }}
                </div>
                <div class="col-5">
                    {{ form.fk_autorizzazione|as_crispy_field }}
                </div>
                
                
                
            </div>
            <div class="row">
                
                <div class="col-6">
                    {{ form.note|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.created_by.as_hidden }}
                </div>

            </div>
            
            

            
            
        </form>
        <hr>
        
        {% include "core/partials/_messages.html" %}

{% if form.instance.id  %}
<div class="row">
    <!-- Tabella Dettaglio Campo di Applicazione -->
    <div class="col-12"> 
        <div class="row justify-content-end">
            <div class="col">
                <p><strong>Limiti parametri</strong></p>
            </div>
            <div class="col text-end">
                <a href="{% url 'autorizzazioni:aggiungi_dettaglio_campo_applicazione' fk_campoapplicazione=campoapplicazione.pk %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Limite parametro</a>
            </div>
        </div>
        <div class="row">
            <div class="table-container">
                <table class="table table-fixed-header table-bordered table-striped mt-2">
                <caption>Limiti parametri</caption>
                <thead>
                    <tr>
                        <th>Parametro</th>   
                        <th>Unità di Misura</th>
                        <th>Scadenza</th>                        
                        <th>Azione</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for limite in elenco_dettaglio_limiti %}
                    <tr>        
                        
                        <td><a href="{% url 'autorizzazioni:modifica_dettaglio_campo_applicazione' fk_campoapplicazione=campoapplicazione.pk pk=limite.pk%}">{{ limite.fk_parametro }}</a></td>
                        <td>{{ limite.um }}</td>
                        <td>{{ limite.limite }}</td>
                       
                        
                        <td class="text-center"><a href="{% url 'autorizzazioni:delete_dettaglio_campo_applicazione' pk=limite.pk%}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{limite.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
                    </tr>  
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div> <!-- Fine colonna Tabella Manutenzioni Ordinarie -->



</div> <!-- Fine riga tabelle -->
{% endif %}


</div><!-- Fine Container -->

   


{% endblock %}
{% block extra_scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setFocusOnField('id_descrizione');
        });
    </script>
{% endblock %}