{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Attrezzatura {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_manutenzioni.html" %}
{% endblock %}

{% block content %}
{% include 'core/modals/delConfirm.html' %}
{% include 'manutenzioni/modals/selezioneDateModal.html' %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'manutenzioni:dashboard_manutenzioni' %}">Dashboard manutenzioni</a></li>        

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica {{ attrezzatura.codice_attrezzatura }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi Attrezzatura</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica {{ attrezzatura.codice_attrezzatura }}</h3>
        {% else %}
            <h3> Aggiungi Attrezzatura</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>


        <form method="post">
            {% csrf_token %}

            
            <input type="submit" name="salva_esci" class="btn btn-success mb-2 me-1" value="Salva ed Esci">
            <input type="submit" name="salva_continua" class="btn btn-success mb-2 me-1" value="Salva e continua">
            <div class="row mt-2">
                <div class="col-2">
                    {{ form.codice_attrezzatura|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.descrizione|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.modello|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.serie_matricola|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.fk_ward|as_crispy_field }}
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-2">
                    {{ form.is_dismesso|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.data_dismissione|as_crispy_field }}
                </div>
               


            </div>
            <div class="row">
                <div class="col-2">
                    {{ form.is_taratura|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.periodo_taratura|as_crispy_field }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    {{ form.procedura_controlli_periodici|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.periodo_controlli_periodici|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.riferimento_normativo_controlli_periodici|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.fk_human_resource|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                </div>
                <div class="col-2">
                {% if form.instance.id  %}
                <a href="{% url 'manutenzioni:registro_controllo_periodico' fk_attrezzatura=attrezzatura.pk %}" class="btn btn-sm btn-success" target="_blank"><i class="bi bi-file-earmark-plus"></i> Stampa Registro</a>
                {% endif %}
                </div>
            </div>

            <hr>
                <div class="col-6">
                    {{ form.note|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.created_by.as_hidden }}
                </div>


            </div>
            
            
            

            
            
        </form>
        <hr>
        
        {% include "core/partials/_messages.html" %}
<div class="container">
{% if form.instance.id  %}
<div class="row">
    <!-- Tabella Manutenzioni Ordinarie -->
    <div class="col-4"> 
        <div class="row justify-content-end">
            <div class="col">
                <p><strong>Manutenzioni ordinarie</strong></p>
            </div>
            <div class="col text-end">
                <a href="{% url 'manutenzioni:aggiungi_manutenzione_ordinaria' fk_attrezzatura=attrezzatura.pk %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Manutenzione</a>
            </div>
        </div>
        <div class="row">
            <div class="table-container">
                <table class="table table-fixed-header table-bordered table-striped mt-2">
                <caption>Manutenzioni Ordinarie</caption>
                <thead>
                    <tr>
                        <th>Data</th>   
                        <th>Descrizione</th>
                        <th>Azione</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for man_ord in elenco_man_ord %}
                    <tr>        
                        
                        <td><a href="{% url 'manutenzioni:modifica_manutenzione_ordinaria' fk_attrezzatura=attrezzatura.pk pk=man_ord.pk%}">{{ man_ord.data_manutenzione }}</a></td>
                        <td>{{ man_ord.descrizione }}</td>
                        
                        <td class="text-center"><a href="{% url 'manutenzioni:delete_manutenzione_ordinaria' pk=man_ord.pk%}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{man_ord.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
                    </tr>  
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div> <!-- Fine colonna Tabella Manutenzioni Ordinarie -->

<!-- Tabella Manutenzioni Straordinarie -->
<div class="col-4"> 
    <div class="row justify-content-end">
        <div class="col">
            <p><strong>Manutenzioni straordinarie</strong></p>
        </div>
        <div class="col text-end">
            <a href="{% url 'manutenzioni:aggiungi_manutenzione_straordinaria' fk_attrezzatura=attrezzatura.pk %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Manutenzione</a>
        </div>
    </div>
    <div class="row">
        <div class="table-container">
            <table class="table table-bordered table-striped mt-2">
            <caption>Manutenzioni Straordinarie</caption>
            <thead>
                <tr>
                    <th>Data</th>   
                    <th>Descrizione</th>
                    <th>Azione</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for man_straord in elenco_man_straord %}
                <tr>        
                    
                    <td><a href="{% url 'manutenzioni:modifica_manutenzione_straordinaria' fk_attrezzatura=attrezzatura.pk pk=man_straord.pk%}">{{ man_straord.data_manutenzione }}</a></td>
                    <td>{{ man_straord.descrizione }}</td>
                    
                    <td class="text-center"><a href="{% url 'manutenzioni:delete_manutenzione_straordinaria' pk=man_straord.pk%}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{man_straord.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
                </tr>  
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</div> <!-- Fine colonna Tabella Manutenzioni Straordinarie -->


<!-- Tabella Tarature -->
<div class="col-4"> 
    <div class="row justify-content-end">
        <div class="col">
            <p><strong>Tarature</strong></p>
        </div>
        <div class="col text-end">
            <a href="{% url 'manutenzioni:aggiungi_taratura' fk_attrezzatura=attrezzatura.pk %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Taratura</a>
        </div>
    </div>
    <div class="row">
        <div class="table-container">
            <table class="table table-bordered table-striped mt-2">
            <caption>Tarature</caption>
            <thead>
                <tr>
                    <th>Data</th>   
                    <th>Prossima Scadenza</th>
                    <th>Azione</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for taratura in elenco_tarature %}
                <tr>        
                    
                    <td><a href="{% url 'manutenzioni:modifica_taratura' fk_attrezzatura=attrezzatura.pk pk=taratura.pk%}">{{ taratura.data_taratura }}</a></td>
                    <td>{{ taratura.prossima_scadenza }}</td>
                    
                    <td class="text-center"><a href="{% url 'manutenzioni:delete_taratura' pk=taratura.pk%}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{taratura.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
                </tr>  
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</div> <!-- Fine colonna Tabella Tarature -->


</div> <!-- Fine prima riga tabelle -->
<br>
<hr>

<div class="row">
    <!-- Tabella Controlli Periodici -->
    <div class="col-4"> 
        <div class="row justify-content-end">
            <div class="col">
                <p><strong>Controlli Periodici</strong></p>
            </div>
            <div class="col text-end">
                <a href="{% url 'manutenzioni:aggiungi_controllo_periodico' fk_attrezzatura=attrezzatura.pk %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Controllo Periodico</a>
            </div>
        </div>
        <div class="row">
            <div class="table-container">
                <table class="table table-fixed-header table-bordered table-striped mt-2">
                <caption>Controlli Periodici</caption>
                <thead>
                    <tr>
                        <th>Data</th>   
                        <th>Descrizione</th>
                        <th>Azione</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for cont_per in elenco_controlli_periodici %}
                    <tr>        
                        
                        <td><a href="{% url 'manutenzioni:modifica_controllo_periodico' fk_attrezzatura=attrezzatura.pk pk=cont_per.pk%}">{{ cont_per.data_controllo }}</a></td>
                        <td>{{ cont_per.descrizione }}</td>
                        
                        <td class="text-center"><a href="{% url 'manutenzioni:delete_controllo_periodico' pk=cont_per.pk%}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{cont_per.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
                    </tr>  
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div> <!-- Fine colonna Tabella Controlli periodici -->
</div> <!-- Fine Seconda riga tabelle -->

{% endif %}


</div><!-- Fine Container -->

        
    



  



{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function() {
      // Ottieni i riferimenti ai campi
      var booleanField = $('#id_is_taratura');
      var secondField = $('#id_periodo_taratura');
    
      // Inizializza lo stato del secondo campo
      updateRequiredAttribute();
    
      // Aggiorna lo stato del secondo campo quando il campo booleano cambia
      booleanField.change(function() {
        updateRequiredAttribute();
      });
    
      // Funzione per aggiornare lo stato del secondo campo
      function updateRequiredAttribute() {
        if (booleanField.is(':checked')) {
          secondField.attr('required', 'required');
        } else {
          secondField.removeAttr('required');
        }
      }
    });

    document.addEventListener("DOMContentLoaded", function() {
            setFocusOnField('id_codice_attrezzatura');
        });

    </script>
    
{% endblock %} 