{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ block.super }} | Controllo Periodico {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_manutenzioni.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'manutenzioni:dashboard_manutenzioni' %}">Dashboard Manutenzioni</a></li>        

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica controllo periodico del {{ controllo_periodico.data_controllo }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi controllo periodico</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica controllo periodico del {{ controllo_periodico.data_controllo }}</h3>
        {% else %}
            <h3> Aggiungi controllo periodico</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            
            {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}
            <div class="row">
                <div class="col-3">
                    {{ form.data_controllo|as_crispy_field }}
                </div>
                
                <div class="col-4">
                    {{ form.descrizione|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.fk_human_resource|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.is_eseguita|as_crispy_field }}
                </div>
                
                
                
            </div>
            <div class="row">
                <div class="col-3">
                    {{ form.prossima_scadenza|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.note|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.fk_attrezzatura|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.created_by|as_crispy_field }}
                </div>
                
                
            </div>
            
            

            
            <input type="submit" class="btn btn-success" value="Salva">
            <button type="button" class="btn btn-danger" onclick="goBack()"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
        </form>
        <hr>
        
        
    </div>



{% endblock %}

{% block extra_scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setFocusOnField('id_data_controllo');
        });
    </script>
{% endblock %}