{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Scadenzario {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_manutenzioni.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'manutenzioni:dashboard_manutenzioni' %}">Dashboard Manutenzioni</a></li>        

        <li class="breadcrumb-item active" aria-current="page">Scadenze prossimi 30 giorni</li>
        
        
        
    </ol>
</nav>

    <div class="container">
        <h3> Scadenze prossimi 30 giorni</h3>
        
        
        
        <hr>
        
        
        
        
        <br>


        <table class="table table-bordered table-striped">
        <caption>Tarature</caption>
        <thead>
          <tr>
            
            <th scope="col">Codice</th>            
            <th scope="col">Descrizione</th>            
            <th scope="col">Prossima Scadenza</th>
            

            
          </tr>
        </thead>
        <tbody>
          {% for taratura in tarature %}
          <tr>        
            
            
            <td>{{ taratura.fk_attrezzatura }}</td>
            <td>{{ taratura.fk_attrezzatura.descrizione }}</td>            
            <td>{{ taratura.prossima_scadenza }}</td>            
            
          </tr>  
          {% endfor %}
        </tbody>
      </table>
        <hr>


        <table class="table table-bordered table-striped">
        <caption>Manutenzioni Ordinarie</caption>
        <thead>
          <tr>
            
            <th scope="col">Codice</th>            
            <th scope="col">Descrizione</th>            
            <th scope="col">Prossima Scadenza</th>
            

            
          </tr>
        </thead>
        <tbody>
          {% for manutenzione in manutenzioni_ordinarie %}
          <tr>        
            
            
            <td>{{ manutenzione.fk_attrezzatura }}</td>
            <td>{{ manutenzione.fk_attrezzatura.descrizione }}</td>            
            <td>{{ manutenzione.prossima_scadenza }}</td>            
            
          </tr>  
          {% endfor %}
        </tbody>
      </table>
        
    </div>



{% endblock %}

