{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Manutenzione Ordinaria {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_human_resources.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'manutenzioni:dashboard_manutenzioni' %}">Dashboard Manutenzioni</a></li>        

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica taratura del {{ taratura.data_taratura }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi taratura</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica taratura del {{ taratura.data_taratura }}</h3>
        {% else %}
            <h3> Aggiungi taratura</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>


        <form method="post">
            {% csrf_token %}

            

            <div class="row">
                <div class="col-3">
                    {{ form.data_taratura|as_crispy_field }}
                </div>
                
                <div class="col-3">
                    {{ form.fk_fornitore|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.is_conforme|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.documento|as_crispy_field }}
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-3">
                    {{ form.prossima_scadenza|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.note|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.fk_attrezzatura|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.created_by|as_crispy_field }}
                </div>
                
                
            </div>
            
            

            
            <input type="submit" class="btn btn-success" value="Salva">
        </form>
        <hr>
        
        
    </div>



{% endblock %}

{% block scripts %}

{% endblock %} 