{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ block.super }} | Manutenzione Ordinaria {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_manutenzioni.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'manutenzioni:dashboard_manutenzioni' %}">Dashboard Manutenzioni</a></li> 
        <li class="breadcrumb-item"><a href="{% url 'manutenzioni:modifica_attrezzatura' pk=attrezzatura.pk %}">{{ attrezzatura.descrizione }}</a></li>         

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica taratura del {{ taratura.data_taratura }} - {{ attrezzatura.descrizione }} | {{ attrezzatura.codice_attrezzatura }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi taratura - {{ attrezzatura.descrizione }} | {{ attrezzatura.codice_attrezzatura }}</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica taratura del {{ taratura.data_taratura }} - {{ attrezzatura.descrizione }} | {{ attrezzatura.codice_attrezzatura }}</h3>
        {% else %}
            <h3> Aggiungi taratura - {{ attrezzatura.descrizione }} | {{ attrezzatura.codice_attrezzatura }}</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            

            <div class="row">
                <div class="col-3">
                    {{ form.data_taratura|as_crispy_field }}
                </div>
                
                <div class="col-3">
                    {{ form.fk_fornitore|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.is_conforme|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.documento|as_crispy_field }}
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-3">
                    {{ form.prossima_scadenza|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.note|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.fk_attrezzatura|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.created_by|as_crispy_field }}
                </div>
                
                
            </div>
            
            

            
            <input type="submit" class="btn btn-success" value="Salva">
            <button type="button" class="btn btn-danger" onclick="goBack()"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
            <button type="button" class="btn btn-danger" onclick="cancelAndRedirectTo(`{% url 'manutenzioni:modifica_attrezzatura' pk=attrezzatura.pk %}`)"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
        </form>
        <hr>
        
        
    </div>



{% endblock %}

{% block extra_scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setFocusOnField('id_data_taratura');
        });
    </script>
{% endblock %}