{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Revisione Modulo {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_procedure.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'manualeprocedure:procedure_home' %}">Manuale Procedure</a></li>        

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica {{ revisionemodulo.n_revisione }} del {{ revisionemodulo.data_revisione }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi Modulo</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica Revisione Modulo</h3>
        {% else %}
            <h3> Aggiungi Revisione Modulo</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>


        <form method="post">
            {% csrf_token %}

            
           

            <div class="row">
                <div class="col-3">
                    {{ form.n_revisione|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.data_revisione|as_crispy_field }}
                </div>
                
                <div class="col-6">
                    {{ form.documento|as_crispy_field }}
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-8">
                    {{ form.note|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.fk_modulo.as_hidden }}
                </div>
                <div class="col-2">
                    {{ form.created_by.as_hidden}}
                </div>
                
            </div>
            
            

            
            <input type="submit" class="btn btn-success" value="Salva">
            <button type="button" class="btn btn-danger" onclick="goBack()"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
        </form>
        <hr>
        
        
    </div>



{% endblock %}

{% block extra_scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
            setFocusOnField('id_n_revisione');
        });

    
</script>
{% endblock %} 