{% extends 'core/base.html' %} 
{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}
{% block head_title %}{{ block.super }} - Ordine Cliente{% endblock head_title %} 

{% block sidenav %}
{% include "core/partials/_sidenav_chem_man.html" %}
{% endblock %}

{% block content %}
{% include 'core/modals/delConfirm.html' %}

<nav aria-label="breadcrumb" class="mt-3"> 
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'vendite:home_ordini_cliente' %}">Lista Ordini</a></li>     
        
        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica {{ ordinecliente.numero_ordine }} del {{ ordinecliente.data_ordine }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi Ordine</li>
        {% endif %}     
    </ol>

</nav>

<div class="container">
    <br>
    <div class="container">
      {% if form.instance.id  %}
      <h3>Modifica {{ ordinecliente.numero_ordine }} del {{ ordinecliente.data_ordine }}</h3>
      {% else %}
      <h3> Aggiungi Ordine Cliente</h3>
      {% endif %}
      <hr>
      <br>
      {% include "core/partials/_messages.html" %}
      
    
    
    
    <div class="form-group mt-3">
        <form class="mt-3" method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="previous_page" name="previous_page"
            value="/previous/page/url">
            <input type="submit" name="salva_esci" class="btn btn-success mb-2 me-1" value="Salva ed Esci">
            <input type="submit" name="salva_continua" class="btn btn-success mb-2 me-1" value="Salva e continua">
            <button type="button" class="btn btn-danger mb-2 me-1" onclick="cancelAndRedirectTo('{% url 'vendite:home_ordini_cliente' %}')"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
            
            

            
                    <div class="row mb-4">
                      
                      <div class="col-md-12 border rounded shadow-sm">
                        <div class="row mt-3">
                            <div class="col-md-2">
                              {{ form.fk_cliente|as_crispy_field }}
                            </div>
                            <div class = "col-md-3">
                              {{ form.numero_ordine|as_crispy_field }}
                            </div>
                            <div class = "col-md-3">
                              {{ form.data_ordine|as_crispy_field }}
                            </div>
                            
                            
                        </div>

                        
                        <div class="row">
                          <div class="col-6">
                            {{ form.note|as_crispy_field }}
                        </div>
                            <div class="col-md-3">
                              {{ form.created_by|as_crispy_field }}
                            </div>
                        </div>
                        
                        <hr>
                        

                        

                    </div>
                      </div>

        <!-- fine form -->
        </form>


        

    </div>

    
    <div class="row">
      <!-- Tabella dettaglio -->
      <div class="col-6">
        <div class="row">
        
        {% if form.instance.id  %}
        <div class="col-6">
          <h5>Dettaglio Ordine</h5>
                    
        </div>
        <div class="col-6 text-end">
          
          <a href="{% url 'vendite:aggiungi_dettaglio_ordine' fk_ordine=ordinecliente.pk %}" class="btn btn-sm btn-success" id="btn_prezzo"><i class="bi bi-file-earmark-plus"></i> Aggiungi Dettaglio</a>

        </div>
      </div>
      <div class="table-container">
        <table class="table table-bordered table-striped mt-2">
          <thead>
            <tr>
              <th>Articolo</th>
              <th>Colore</th>   
              <th>UM</th>   
              <th>Quantità</th> 
              <th>Data Consegna</th> 
              <th>Azione</th>
              
            </tr>
          </thead>
          <tbody>
            {% for dettaglio in dettaglio_ordini %}
            <tr>        
              
              <td><a href="{% url 'vendite:modifica_dettaglio_ordine' fk_ordine=dettaglio.fk_ordine.pk pk=dettaglio.pk %}">{{ dettaglio.fk_articolo }}</a></td>
              <td><a href="{% url 'vendite:modifica_dettaglio_ordine' fk_ordine=dettaglio.fk_ordine.pk pk=dettaglio.pk %}">{{ dettaglio.fk_colore }}</a></td>
              <td class="text-end">{{ dettaglio.um }}</td>
              <td class="text-end">{{ dettaglio.quantity }}</td>
              <td class="text-end">{{ dettaglio.data_consegna|default_if_none:"" }}</td>
              <td class="text-center"><a href="{% url 'vendite:delete_dettaglio_ordine_cliente' pk=dettaglio.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{dettaglio.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
            </tr>  
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
  </div>
    </div><!--Fine prima riga tabelle-->
<br>



</div> <!--Fine container-->
{% endblock content %}

{% block extra_scripts %}
    
{% endblock %}