{% extends 'core/base.html' %} 
{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}
{% load custom_filters %}
{% block head_title %}{{ block.super }} - Gestione Rifiuti {% endblock head_title %} 

{% block sidenav %}
{% include "core/partials/_sidenav_gestione_rifiuti.html" %}
{% endblock %}



{% block content %}

<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
      <li class="breadcrumb-item active" aria-current="page">Movimenti Rifiuti</li>
  </ol>
</nav>
{% include 'core/modals/delConfirm.html' %}


<div class="container">
<div class="row">
  <div class="col-4">
  <h5>Destinazione Rifiuti Prodotti ultimo anno:</h5>
    {% if movimenti_recupero %}
      <h6>Recupero kg.: {{ movimenti_recupero }}</h6>
    {% else %}
      <h6>Nessun rifiuto a recupero</h6>
    {% endif %}
    {% if movimenti_smaltimento %}
      <h6>Smaltimento kg.: {{ movimenti_smaltimento }}</h6>
    {% else %}
      <h6>Nessun rifiuto a smaltimento</h6>
    {% endif %}
  </div>

  <div class="col-4">        
    <canvas id="cer_last_year" data-url="{% url 'gestionerifiuti:cer_last_year' %}"></canvas>
  </div>


</div>

  <br>
  <h3>Lista Movimenti Rifiuti</h3>
  <hr>
  

 


  <!-- filtro -->
  <div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">

                <div class="table-responsive-sm">
                    <table class="table table-hover table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>     
                                <th>Data Movimento</th>
                                <th>Codice Cer</th>                                    
                                <th>Carico/Scarico</th>                                    
                                <th>Smalt/Rec</th>                                    
                                

                            </tr>
                        </thead>                            
                        <tbody>
                            <tr>                                    
                                <td style="width: 20%">{{ filter.form.data_movimento|as_crispy_field }}</td>                                    
                                <td style="width: 20%">{{ filter.form.fk_codicecer|as_crispy_field }}</td>                                
                                <td style="width: 20%">{{ filter.form.car_scar|as_crispy_field }}</td>                                
                                <td style="width: 20%">{{ filter.form.fk_smaltrec|as_crispy_field }}</td>                                
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-primary" type="submit">Cerca</button>
                <a class="btn btn-success" href="{% url 'gestionerifiuti:gestione_rifiuti_home' %}"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Pulisci campi</a>
            </form>        
        </div>
    </div>        
</div>
<!-- fine filtro-->
  <hr>
  {% include "core/partials/_messages.html" %}
  <br>
  

  <a class="btn btn-sm btn-success mt-2 mb-4" href="{% url 'gestionerifiuti:crea_movimento_rifiuti' %}"><span class="bi bi-person-plus-fill"></span> Aggiungi</a>
  <br>
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            
            <th>Data Movimento</th>
            <th>Codice Cer</th>                                    
            <th>Carico/Scarico</th>                                    
            <th>Smalt/Rec</th>  
            <th>Quantità</th>  
            <th>Azione</th>  


            
          </tr>
        </thead>
        <tbody>
          {% for movimento in dati_paginator %}
          <tr>        
            
            
            <td><a href="{% url 'gestionerifiuti:modifica_movimento_rifiuti' pk=movimento.pk %}">{{ movimento.data_movimento|date:'d/m/Y' }}</a></td>
            
            <td>{{ movimento.fk_codicecer.codice }}</td>
            <td>{{ movimento.car_scar }}</td>
            <td>{{ movimento.fk_smaltrec.codice }}</td>
            {% if movimento.car_scar == 'carico' %}
              <td class="text-end">{{ movimento.quantity|format_number_dec_thousand }}</td>
            {% else %}
              <td class="text-end text-danger">{{ movimento.quantity|format_number_dec_thousand }}</td>
            {% endif %}

            <td class="text-center"><a href="{% url 'gestionerifiuti:delete_movimento_rifiuti' pk=movimento.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{movimento.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
            
          </tr>  
          {% endfor %}
        </tbody>
      </table>
      <!-- Pagination -->
{% if dati_paginator.has_other_pages %}
<nav>
  <ul class="pagination justify-content-center">
    {% if dati_paginator.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ dati_paginator.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&laquo;</span>
      </li>
    {% endif %}

    {% for page in dati_paginator.paginator.page_range %}
      {% if page == dati_paginator.number %}
        <li class="page-item active">
          <span class="page-link">{{ page }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if dati_paginator.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ dati_paginator.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
<!-- End Pagination -->

</div>



{% endblock content %}

{% block extra_scripts %}

<script>



  $(function () {
  
  var $cer_last_year = $("#cer_last_year");
  $.ajax({
    url: $cer_last_year.data("url"),
    success: function (data) {
  
      var ctx = $cer_last_year[0].getContext("2d");        
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: data.labels,
          datasets: [{
            label: 'CER Ultimi 12 mesi',
            backgroundColor: getRandomColor(),
            data: data.data
          }]          
        },
        options: {
          responsive: true,
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'CER Ultimi 12 mesi'
          },
          
        }
      });
  
    }
  });
  
  });
</script>
{% endblock %}

