{% extends 'core/basi_stampe/base_stampa_a4_verticale_ordini.html' %}
{% load static %}
{% block title %} {{ ordine }} {% endblock %}


    <style>
    
        @page {
            
			size: A4 portrait;
			
			
		}

        


		@media print {
			body {
				margin: 0.1em 0.6em 0.1em 0.6em ;
								
				}
            
            table {
                page-break-inside: auto;
                
            }
            .table-container {
                /*page-break-before: always; /* Sposta la tabella su una nuova pagina se supera l'altezza massima */
                /*max-height: none; /* Rimuovi il limite di altezza durante la stampa */
                /*overflow-y: visible; /* Mostra tutto il contenuto della tabella durante la stampa */
                /*margin-bottom: 100vh -200px;*/
        }
            tr {
                page-break-inside: avoid;
                page-break-after: auto;
        }

            .footer {
                
                page-break-after: always;
                
            }
			
		}
		
		
        
    </style>
</head>
{% block content %}
<div class="container mt-4">
    {% include 'chem_man/acquisti/_partials/_header_ordine.html' %}
<hr>
</div>
<div class="container">
<table class="table" >
  <thead>
    <tr>
      <th scope="col">Prodotto Chimico</th>
      <th scope="col">Unità di Misura</th>
      <th scope="col">Quantità</th>
      <th scope="col">Aspetto dei beni</th>
    </tr>
  </thead>
  <tbody>
    {% for dettaglio in dettagli_ordine %}
                <tr>
                    <td>{{ dettaglio.fk_prodotto_chimico }}</td>
                    <td>{{ dettaglio.u_misura }}</td>
                    <td>{{ dettaglio.quantity }}</td>
                    <td>{{ dettaglio.fk_imballaggio }}</td>
                    <!-- Aggiungi altre colonne se necessario -->
                </tr>
            {% endfor %}
  </tbody>
</table>


    
    

    </div>
   
    <footer>
    {% include 'chem_man/acquisti/_partials/_footer_ordine.html' %}
   </footer>
    





{% endblock %}


     
{% block extra_scripts %}
<script>
    
</script>
{% endblock %}   