{% extends 'core/base.html' %} 
{% load static %}

{% load crispy_forms_tags %} 
{% load widget_tweaks %}
{% block head_title %}{{ block.super }} - Formazione {% endblock head_title %} 

{% block sidenav %}
{% include "core/partials/_sidenav_human_resources.html" %}
{% endblock %}

{% block content %}
{% include 'core/modals/delConfirm.html' %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'human_resources:human_resources' %}">Operatori</a></li>     
        <li class="breadcrumb-item active" aria-current="page">Dashboard Registro Ore</li>        
    </ol>

</nav>
<div class="container">
  <br>
  <h3>Dashboard Registro Ore</h3>
  <hr>

  {% include "core/partials/_messages.html" %}

  <div class="row">
    <!-- Totale ore lavorabili -->
    <div class="col-4">
      <div class="text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title text-center">Totale ore lavorabili anno in corso</h5>
          

          {% if somma_ore_lavorabili %}          
            <h1 class="card-text text-center">{{ somma_ore_lavorabili.ore_lavorabili__sum|default_if_none:0 }}</h1>
          {% else %}
            <h1 class="card-text text-center">0</h1>
          {% endif %}

          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <!-- Totale ore lavorate -->
    <div class="col-4">
      <div class="text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title text-center">Totale ore lavorate anno in corso</h5>
          {% if somma_ore_lavorate %}          
            <h1 class="card-text text-center">{{ somma_ore_lavorate.ore_lavorate__sum|default_if_none:0 }}</h1>
          {% else %}
            <h1 class="card-text text-center">0</h1>
          {% endif %}
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <!-- Totale ore ferie -->
    <div class="col-4">
      <div class="text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title text-center">Totale ore ferie anno in corso</h5>
          
          {% if somma_ore_ferie %}          
            <h1 class="card-text text-center">{{ somma_ore_ferie.ferie_permessi__sum|default_if_none:0 }}</h1>
          {% else %}
            <h1 class="card-text text-center">0</h1>
          {% endif %}
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <a href="{% url 'human_resources:crea_registro_ore'  %}" class="btn btn-success mt-2 "><i class="bi bi-file-earmark-plus"></i> Aggiungi Registro</a>

  <hr>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        
        <th>Anno/Mese</th>
        <th>Ore Lavorabili</th>
        <th>Ore Lavorate</th>
        <th>Azioni</th>

        
      </tr>
    </thead>
    <tbody>
      {% for registro_ore in registri_ore %}
      <tr>        
        
        
        <td><a href="{% url 'human_resources:modifica_registro_ore' pk=registro_ore.pk %}">{{ registro_ore.entry_year }} {{ registro_ore.month_verbose  }}</a></td>
        
        <td>{{ registro_ore.ore_lavorabili }}</td>
        <td>{{ registro_ore.ore_lavorate }}</td>
        <td class="text-center"><a href="{% url 'human_resources:delete_registro_ore' pk=registro_ore.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{registro_ore.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
        
      </tr>  
      {% endfor %}
    </tbody>
  </table>
  
</div>

{% endblock content %}