{% extends 'core/base.html' %} 
{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}
{% block head_title %}{{ block.super }} - Human Resources{% endblock head_title %} 

{% block sidenav %}
{% include "core/partials/_sidenav_human_resources.html" %}
{% endblock %}

{% block content %}

<div class="container">
  <br>
  <h3>Lista operatori</h3>
  <hr>
  
  <!-- filtro -->
  <div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">

                <div class="table-responsive-sm">
                    <table class="table table-hover table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>     
                                <th>Cognome</th>
                                <th>Nome</th>                                    
                                <th>Reparto</th>                                    
                                <th>Mansione</th>                                    

                            </tr>
                        </thead>                            
                        <tbody>
                            <tr>                                    
                                <td style="width: 20%">{{ filter.form.cognomedipendente|as_crispy_field }}</td>                                    
                                <td style="width: 20%">{{ filter.form.nomedipendente|as_crispy_field }}</td>                                
                                <td style="width: 20%">{{ filter.form.fk_reparto|as_crispy_field }}</td>                                
                                <td style="width: 20%">{{ filter.form.fk_mansione|as_crispy_field }}</td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-primary" type="submit">Cerca</button>
                <a class="btn btn-success" href="{% url 'human_resources:human_resources' %}"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Pulisci campi</a>
            </form>        
        </div>
    </div>        
</div>
<!-- fine filtro-->
  <hr>
  <a class="btn btn-sm btn-success mt-2 mb-4" href="{% url 'human_resources:create-human-resource' %}"><span class="bi bi-person-plus-fill"></span> Aggiungi</a>
  <br>
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            
            <th>Cognome Nome</th>            
            <th>Data Assunzione</th>
            <th>Data Dimissioni</th>
            <th>Reparto</th>
            <th>Mansione</th>

            
          </tr>
        </thead>
        <tbody>
          {% for hr in filter.qs %}
          <tr>        
            
            
            <td>{{ hr.cognomedipendente }} {{ hr.nomedipendente }}</td>
            
            <td>{{ hr.dataassunzione|date:'d/m/Y' }}</td>
            <td>{{ hr.datadimissioni|date:'d/m/Y' }}</td>
            <td>{{ hr.fk_reparto.description }}</td>
            <td>{{ hr.fk_mansione.description }}</td>
          </tr>  
          {% endfor %}
        </tbody>
      </table>
      <!-- Pagination -->
      {% if filter.qs.has_other_pages %}
      <nav>
        <ul class="pagination justify-content-center">
          {% if filter.qs.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ filter.qs.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;</span>
            </li>
          {% endif %}
  
          {% for p in filter.qs.paginator.page_range %}
            {% if filter.qs.number == p %}
              <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
            {% endif %}
          {% endfor %}
  
          {% if filter.qs.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ filter.qs.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&raquo;</span>
            </li>
          {% endif %}
      </ul>
      </nav>
    {% endif %}
    <!-- End Pagination -->
</div>

{% endblock content %}