{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Incarichi Sicurezza Operatore {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_human_resources.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'human_resources:human_resources' %}">Risorse Umane</a></li>        
        <li class="breadcrumb-item"><a href="{% url 'human_resources:update_human_resource' pk=fk_hr %}">{{ operatore.cognomedipendente }} {{ operatore.nomedipendente }}</a></li>
        {% if form.instance.id  %}
        <li class="breadcrumb-item active" aria-current="page">Modifica {{ hr_safety.fk_safety_role }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi Incarico</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica {{ hr_safety.fk_safety_role }}</h3>
        {% else %}
            <h3> Aggiungi Incarico</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>


        <form method="post">
            {% csrf_token %}

            

            <div class="row">
                
                <div class="col-6">
                    {{ form.fk_safety_role|as_crispy_field }}
                </div>
                <div class="col-3">                    
                    {{ form.data_inizio_incarico|as_crispy_field }}
                </div>

                <div class="col-3">
                    {{ form.data_fine_incarico|as_crispy_field }}
                </div>
                
                
                
            </div>

            <hr>
            <div class="row">
                
                
                <div class="col-6">                    
                    {{ form.note|as_crispy_field }}
                </div>

                <div class="col-1">
                    {{ form.fk_hr|as_crispy_field }}
                </div>
                <div class="col-1">
                    {{ form.created_by|as_crispy_field }}
                </div>
                
                
            </div>

            
            

            
            <input type="submit" class="btn btn-success" value="Salva">
            <button type="button" class="btn btn-danger" onclick="goBack()"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
        </form>
        <hr>
        
        
    </div>



{% endblock %}

{% block extra_scripts %}

{% endblock %} 