{% extends 'core/base.html' %} 
{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}
{% block head_title %}{{ block.super }} - Operatore{% endblock head_title %} 

{% block sidenav %}
{% include "core/partials/_sidenav_human_resources.html" %}
{% endblock %}

{% block content %}
{% include 'core/modals/delConfirm.html' %}

<div class="container">
    <br>
    <nav aria-label="breadcrumb" class="mt-3">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
          <li class="breadcrumb-item"><a href="{% url 'human_resources:human_resources' %}">Risorse Umane</a></li>        
  
          {% if form.instance.id  %}
              <li class="breadcrumb-item active" aria-current="page">{{ humanresource.cognomedipendente }} {{ humanresource.nomedipendente }}</li>
          {% else %}
              <li class="breadcrumb-item active" aria-current="page">Aggiungi operatore</li>
          {% endif %}             
          
          
      </ol>
  </nav>
    
    <hr>
    {% include "core/partials/_messages.html" %}
    <!-- Form nuovo operatore -->
    {% if immagine %}
      <img src="{{ object.immagine.url }}" 
        alt="{{ object.cognomedipendente }}" 
        style="height: auto; width: 200px; border-radius: 50%; margin-top: 25px;" 
        class="avatar"  
        accept=".jpg,.jpeg,.png"
        id="preview-image"
        />
    {% else %}
      <p>Nessuna immagine</p>
    {% endif %}
    <hr>

    


    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Generalità</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#formazione-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Formazione</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="valutazione-tab" data-bs-toggle="tab" data-bs-target="#valutazione-tab-pane" type="button" role="tab" aria-controls="valutazione-tab-pane" aria-selected="false">Valutazione</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="incarichi-tab" data-bs-toggle="tab" data-bs-target="#incarichi-tab-pane" type="button" role="tab" aria-controls="incarichi-tab-pane" aria-selected="false">Altri Incarichi</button>
      </li>
      
    </ul>

    

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        
        <div class="form-group mt-3">
          <form class="mt-3" method="POST" novalidate enctype="multipart/form-data">
              {% csrf_token %}
              
              <input type="submit" name="salva_esci" class="btn btn-success mb-2 me-1" value="Salva ed Esci">
              <input type="submit" name="salva_continua" class="btn btn-success mb-2 me-1" value="Salva e Continua">
          
                  <div class="row mb-4 mt-3">
                    
                    <div class="col-md-12 border rounded shadow-sm">
                      <div class="row mt-3">
                          <div class = "col-md-3">
                            {{ form.immagine|as_crispy_field }}
                          </div>
                          
                          <div class="col-md-3">
                            {{ form.cognomedipendente|as_crispy_field }}
                          </div>
                          <div class="col-md-3">
                            {{ form.nomedipendente|as_crispy_field }} 
                          </div> 
                          
                          <div class="col-md-2">
                            {{ form.gender|as_crispy_field }}
                          </div>    
                      </div>
                      <div class="row"> 
                        <div class="col-3">
                          {{ form.data_nascita|as_crispy_field }}
                      </div>                         
                        <div class="col-3">
                          {{ form.country|as_crispy_field }}
                      </div>
                          <div class="col-md-3">
                            {{ form.dataassunzione|as_crispy_field }}
                          </div>
                          <div class="col-md-3">
                            {{ form.datadimissioni|as_crispy_field }} 
                          </div>     
                      </div>
                      <hr>
                      <div class="row"> 
                        <div class="col-3">
                          {{ form.contratto|as_crispy_field }}
                      </div>                         
                        <div class="col-3">
                          {{ form.orario|as_crispy_field }}
                      </div>                           
                      </div>
                      <hr>


                      <div class="row mt-4">                          
                          
                          <div class="col-md-5">
                            {{ form.fk_mansione|as_crispy_field }}
                          </div>
                          <div class="col-md-5">
                            {{ form.fk_reparto|as_crispy_field }} 
                          </div> 
                          <div class="col-md-5">
                              {{ form.qualifica|as_crispy_field }} 
                          </div>        
                      </div>
                      <div class="row">                          
                          
                          <div class="col">
                            {{ form.commenti|as_crispy_field }}
                          </div>
                            
                      </div>
                      <hr>
                      

                      

                  </div>
                    </div>

      <!-- fine form -->
      </form>
      </div>
      </div>

      <div class="tab-pane fade" id="formazione-tab-pane" role="tabpanel" aria-labelledby="formazione-tab" tabindex="0">
        <table class="table table-bordered table-striped mt-2">
          <thead>
            <tr>
              <th>Data</th>            
              <th>Corso</th>
              <th>Ore Totali</th>        
              <th>Area Formazione</th>
              <th>Prossima Scadenza</th>
              
            </tr>
          </thead>
          <tbody>
            {% for formazione in elenco_formazione %}
            <tr>        
              
              <td>{{ formazione.fk_registro_formazione.data_formazione }}</td>
              <td>{{ formazione.fk_registro_formazione.fk_corso.descrizione }}</td>
              <td>{{ formazione.fk_registro_formazione.ore }}</td>        
              <td>{{ formazione.fk_registro_formazione.fk_corso.fk_areaformazione }}</td>
              <td>{{ formazione.prossima_scadenza|default:"Nessuna Scadenza" }}</td>
            </tr>  
            {% endfor %}
          </tbody>
        </table>
      
      
      </div>
      
      <!-- Inizio Tab Valutazione-->
      <div class="tab-pane fade" id="valutazione-tab-pane" role="tabpanel" aria-labelledby="valutazione-tab" tabindex="0">
        <div class="row">
          <div class="col text-end">
            {% if form.instance.id  %}
              <a href="{% url 'human_resources:crea_valutazione_operatore' pk=humanresource.pk %}" class="btn btn-success mt-2 "><i class="bi bi-file-earmark-plus"></i> Aggiungi Valutazione</a>
            {% else %}
              <button class="btn btn-outline-success">Salvare per aggiungere</button>
            {% endif %}
          </div>
        </div>
        
        <div class="row">
          
        </div>
        {% if form.instance.id  %}
          <table class="table table-bordered table-striped mt-2">
            <thead>
              <tr>
                <th>Centro di Lavoro</th>            
                <th>Valutazione</th>
                <th>Azione</th>
              </tr>
            </thead>
            <tbody>
              
              {% for valutazione in elenco_valutazioni %}
              <tr>        
                
                <td><a href="{% url 'human_resources:modifica_valutazione_operatore' pk=humanresource.pk id=valutazione.pk %}">{{ valutazione.fk_centro_di_lavoro.description }}</a></td>
                <td>{{ valutazione.valutazione }}</td>                           
                <td class="text-center"><a href="{% url 'human_resources:delete_valutazione_operatore' pk=valutazione.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{valutazione.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>             
              </tr>  
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
      <!-- Fine Tab Valutazione-->

      <!-- Inizio Tab Altri Incarichi-->
      <div class="tab-pane fade" id="incarichi-tab-pane" role="tabpanel" aria-labelledby="incarichi-tab" tabindex="0">
        <div class="row">
          <div class="col text-end">
            {% if form.instance.id  %}
              <a href="{% url 'human_resources:crea_hr_safety' pk=humanresource.pk %}" class="btn btn-success mt-2 "><i class="bi bi-file-earmark-plus"></i> Aggiungi Incarico Sicurezza</a>
            {% else %}
              <button class="btn btn-outline-success">Salvare per aggiungere</button>
            {% endif %}
          </div>
        </div>
        
        <div class="row">
          
        </div>
        {% if form.instance.id  %}
          <table class="table table-bordered table-striped mt-2">
            <thead>
              <tr>
                <th>Incarico Sicurezza</th>            
                <th>Data Inizio Incarico</th>
                <th>Data Fine Incarico</th>
                <th>Azione</th>
              </tr>
            </thead>
            <tbody>
              
              {% for incarico_sicurezza in elenco_incarichi_sicurezza %}
              <tr>        
                
                <td><a href="{% url 'human_resources:modifica_hr_safety' pk=humanresource.pk id=incarico_sicurezza.pk %}">{{ incarico_sicurezza.fk_safety_role.descrizione }}</a></td>
                <td>{{ incarico_sicurezza.data_inizio_incarico }}</td>                           
                <td>{{ incarico_sicurezza.data_fine_incarico }}</td>                           
                <td class="text-center"><a href="{% url 'human_resources:delete_hr_safety' pk=incarico_sicurezza.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{incarico_sicurezza.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>             
              </tr>  
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
      <!-- Fine Tab Altri Incarichi-->
      
    </div>
    

    

        


</div>

{% endblock %}

{% block extra_scripts %}
<script>

$(document).ready(function() {
  handleImagePreview('id_immagine', 'preview-image');
});

</script>

{% endblock %}