{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Valutazione Operatore {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_human_resources.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'human_resources:human_resources' %}">Risorse Umane</a></li>        
        <li class="breadcrumb-item"><a href="{% url 'human_resources:update-human-resource' pk=fk_hr %}">{{ operatore.cognomedipendente }} {{ operatore.nomedipendente }}</a></li>
        {% if form.instance.id  %}
        <li class="breadcrumb-item active" aria-current="page">Valutazione</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi Mansione</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica Valutazione</h3>
        {% else %}
            <h3> Aggiungi Valutazione</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>


        <form method="post">
            {% csrf_token %}

            

            <div class="row">
                <div class="col-3">
                    {{ form.fk_hr|as_crispy_field }}
                    {{ form.fk_centro_di_lavoro|as_crispy_field }}
                    {{ form.valutazione|as_crispy_field }}
                    {{ form.note|as_crispy_field }}
                </div>
                
                
            </div>
            
            

            
            <input type="submit" class="btn btn-success" value="Salva">
        </form>
        <hr>
        
        
    </div>



{% endblock %}

{% block scripts %}

{% endblock %} 