<!-- Tabella dettaglio -->
<div class="col-12">
  <div class="row">
  
  
  <div class="col-6">
    <h5>Dettaglio Ricetta</h5>
              
  </div>
  <div class="col-6 text-end">
    
    <a href="{% url 'ricette:aggiungi_dettaglio_ricetta_colore_rifinizione' fk_ricetta_colore_rifinizione=ricettacolorerifinizione.pk %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Dettaglio</a>

  </div>
</div>
<div class="container">
  <table class="table table-bordered table-striped mt-2" id="myTable" data-model_name="DettaglioRicettaRifinizione">
    <thead>
      <tr>
        <th>Riga</th>        
        <th>Operazione</th>
        <th>Prodotto</th>                
        <th>Quantità</th>       
        <th>Azione</th>
        
      </tr>
    </thead>
    <tbody id="tabella_dettaglio">
      {% for dettaglio in elenco_dettagli %}
      <tr data-pk="{{ dettaglio.pk }}">        
        
        <td><a  href="{% url 'ricette:modifica_dettaglio_ricetta_colore_rifinizione' fk_ricetta_colore_rifinizione=ricettacolorerifinizione.pk pk=dettaglio.pk %}" id="numero_riga_{{ dettaglio.pk }}">{{ dettaglio.numero_riga }}</a></td>
        
        <td>{{ dettaglio.fk_operazione_ricette }}</td>
        <td>{{ dettaglio.fk_prodotto_chimico }}</td>
        <td class="text-end">{{ dettaglio.quantity }}</td>
        
        <td class="text-center"><a href="{% url 'ricette:delete_dettaglio_ricetta_colore_rifinizione' pk=dettaglio.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{dettaglio.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
      </tr>  
      {% endfor %}
    </tbody>
  </table>
</div>

</div><!--Fine tabella dettaglio -->

