{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}

<!-- Inizio Attrezzatura Antincendio -->
          
            <div class="row">
              <div class="col-6">
                <h5>Attrezzatura Antincendio</h5>
                <p>Inserire/Modificare l'Attrezzatura Antincendio.</p>                  
              </div>
              <div class="col-6 text-end">
                <a href="{% url 'antincendio:aggiungi_attrezzatura_antincendio' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Attrezzatura</a>
              </div>
            </div>

            <!-- Inizio filtro -->
              <div class="row">
                <div class="col">
                  <div class="card card-body">
              
                    
                    <form method="get">
              
                      <div class="table-responsive-sm">
                        <table class="table table-hover table-striped table-bordered">
                          <thead class="thead-dark">
                            <tr>     
                              <th>Descrizione</th>
                              
                              
                            </tr>
                          </thead>
                          
                          <tbody>
                          <tr>
                            <td style="width: 20%">                
                              {% render_field filter_attrezzature_antincendio.form.descrizione class="form-control" %}
                            </td>
                            
                            
                          </tr>
                    
                          
                          
                        </tbody>
                        </table>
                      </div>
                        
              
                      
              
                      <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i>&nbsp;&nbsp; Cerca</button>
                      <a class="btn btn-success" href="{% url 'antincendio:antincendio_home' %}"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Pulisci campi</a>
                      
                    </form>
                    
                    
                  </div>
                </div>
                
              </div>
              <!-- Fine filtro -->
              <p>Numero Attrezzature totale {{ tot_attrezzatura_antincendio }} - Numero idranti filtrati {{ idranti_filter_count }}</p>
            <div class="table-container">
              <table class="table table-bordered table-striped mt-2">
                <thead>
                  <tr>
                    <th>Descrizione</th>
                    <th>Azione</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for attrezzatura in attrezzature_antincendio_paginator %}
                  <tr>        
                    
                    <td><a href="{% url 'antincendio:modifica_attrezzatura_antincendio' pk=attrezzatura.pk %}">{{ attrezzatura.descrizione }}</a></td>
                    
                    <td class="text-center"><a href="{% url 'antincendio:delete_attrezzatura_antincendio' pk=attrezzatura.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{attrezzatura.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
                  </tr>  
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- Paginazione -->
            <div class="pagination">
              <span class="step-links">
                {% if attrezzature_antincendio_paginator.has_previous %}
                  <a href="?page={{ attrezzature_antincendio_paginator.previous_page_number }}">precedente</a>
                {% endif %}

                <span class="current-page">{{ attrezzature_antincendio_paginator.number }}</span>

                {% if attrezzature_antincendio_paginator.has_next %}
                  <a href="?page={{ attrezzature_antincendio_paginator.next_page_number }}">successivo</a>
                {% endif %}
              </span>
            </div>
            
        <!-- Fine Paginazione -->
          
        <!-- Fine Attrezzatura Antincendio -->