{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}


<!-- Inizio Idranti -->
          
            <div class="row">
              <div class="col-6">
                <h5>Idranti</h5>
                <p>Inserire/Modificare gli Idranti.</p>                  
              </div>
              <div class="col-6 text-end">
                <a href="{% url 'antincendio:aggiungi_idrante' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Idrante</a>
              </div>
            </div>

            <!-- Inizio filtro -->
              <div class="row">
                <div class="col">
                  <div class="card card-body">
              
                    
                    <form method="get">
              
                      <div class="table-responsive-sm">
                        <table class="table table-hover table-striped table-bordered">
                          <thead class="thead-dark">
                            <tr>     
                              <th>Numero posizione</th>
                              <th>Tipo Idrante</th>
                              
                            </tr>
                          </thead>
                          
                          <tbody>
                          <tr>
                            <td style="width: 20%">                
                              {% render_field filter_idranti.form.numero_posizione class="form-control" %}
                            </td>
                            
                            <td style="width: 20%">
                              {% render_field filter_idranti.form.tipo_idrante class="form-control" %}
                            </td>
                            
                          </tr>
                    
                          
                          
                        </tbody>
                        </table>
                      </div>
                        
              
                      
              
                      <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i>&nbsp;&nbsp; Cerca</button>
                      <a class="btn btn-success" href="{% url 'antincendio:antincendio_home' %}"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Pulisci campi</a>
                      
                    </form>
                    
                    
                  </div>
                </div>
                
              </div>
              <!-- Fine filtro -->
              <p>Numero idranti totale {{ tot_idranti }} - Numero idranti filtrati {{ idranti_filter_count }}</p>
            <div class="table-container">
              <table class="table table-bordered table-striped mt-2">
                <thead>
                  <tr>
                    <th>Numero/Posizione</th>            
                    <th>Tipo Idrante</th>
                    <th>Azione</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for idrante in idranti_paginator %}
                  <tr>        
                    
                    <td><a href="{% url 'antincendio:modifica_idrante' pk=idrante.pk %}">{{ idrante.numero_posizione }}</a></td>
                    <td>{{ idrante.tipo_idrante }}</td>
                    <td class="text-center"><a href="{% url 'antincendio:delete_idrante' pk=idrante.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{idrante.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
                  </tr>  
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- Paginazione -->
            <div class="pagination">
              <span class="step-links">
                {% if idranti_paginator.has_previous %}
                  <a href="?page={{ idranti_paginator.previous_page_number }}">precedente</a>
                {% endif %}

                <span class="current-page">{{ idranti_paginator.number }}</span>

                {% if idranti_paginator.has_next %}
                  <a href="?page={{ idranti_paginator.next_page_number }}">successivo</a>
                {% endif %}
              </span>
            </div>
            
        <!-- Fine Paginazione -->
          
        <!-- Fine Idranti -->