{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}


<!-- Inizio Impianto Spegnimento -->
      
        <div class="row">
          <div class="col-6">
            <h5>Impianti di Spegnimento</h5>
            <p>Inserire/modificare gli impianti di spegnimento.</p>                  
          </div>
          <div class="col-6 text-end">
            <a href="{% url 'antincendio:aggiungi_impianto_spegnimento' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Impianto</a>
          </div>
        </div>
      <!-- Inizio filtro -->
          <div class="row">
            <div class="col">
              <div class="card card-body">
          
                
                <form method="get">
          
                  <div class="table-responsive-sm">
                    <table class="table table-hover table-striped table-bordered">
                      <thead class="thead-dark">
                        <tr>     
                          <th>Numero</th>
                          <th>Ubicazione</th>
                          
                        </tr>
                      </thead>
                      
                      <tbody>
                      <tr>
                        <td style="width: 20%">                
                          {% render_field filter_impianti_spegnimento.form.numero_posizione class="form-control" %}
                        </td>
                        
                        <td style="width: 20%">
                          {% render_field filter_impianti_spegnimento.form.ubicazione class="form-control" %}
                        </td>
                        
                      </tr>
                
                      
                      
                    </tbody>
                    </table>
                  </div>
                    
          
                  
          
                  <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i>&nbsp;&nbsp; Cerca</button>
                  <a class="btn btn-success" href="{% url 'antincendio:antincendio_home' %}"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Pulisci campi</a>
                  
                </form>
                
                
              </div>
            </div>
            
          </div>
          <!-- Fine filtro -->



        <p>Numero porte impianti {{ tot_impianti_spegnimento }} - Numero impianti filtrati {{ impianti_spegnimento_filter_count }}</p>
        <div class="table-container">
          <table class="table table-bordered table-striped mt-2">
            <thead>
              <tr>
                <th>Numero</th> 
                <th>Ubicazione</th> 
                <th>Azione</th>
                
              </tr>
            </thead>
            <tbody>
              {% for impianto_spegnimento in impianti_spegnimento_paginator %}
              <tr>        
                
                <td><a href="{% url 'antincendio:modifica_impianto_spegnimento' pk=impianto_spegnimento.pk %}">{{ impianto_spegnimento.numero_posizione }}</a></td>
                <td>{{ impianto_spegnimento.ubicazione }}</td>                    
                <td class="text-center"><a href="{% url 'antincendio:delete_impianto_spegnimento' pk=impianto_spegnimento.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-bs-id="{{impianto_spegnimento.pk}}" id="deleteButton{{impianto_spegnimento.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
                
              </tr>  
              {% endfor %}
            </tbody>
          </table>
        </div>
    <!-- Paginazione -->
        <div class="pagination">
          <span class="step-links">
            {% if impianto_spegnimento_paginator.has_previous %}
              <a href="?page={{ impianto_spegnimento_paginator.previous_page_number }}">precedente</a>
            {% endif %}

            <span class="current-page">{{ impianto_spegnimento_paginator.number }}</span>

            {% if impianto_spegnimento_paginator.has_next %}
              <a href="?page={{ impianto_spegnimento_paginator.next_page_number }}">successivo</a>
            {% endif %}
          </span>
        </div>
        
    <!-- Fine Paginazione -->

      
    <!-- Fine Impianto Spegnimento -->