{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}



<!-- Inizio Porte/Uscite -->
          
            <div class="row">
              <div class="col-6">
                <h5>Porte/Uscite</h5>
                <p>Inserire/modificare le porte e le uscite.</p>                  
              </div>
              <div class="col-6 text-end">
                <a href="{% url 'antincendio:aggiungi_porta_uscita' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi porta/uscita</a>
              </div>
            </div>
          <!-- Inizio filtro -->
              <div class="row">
                <div class="col">
                  <div class="card card-body">
              
                    
                    <form method="get">
              
                      <div class="table-responsive-sm">
                        <table class="table table-hover table-striped table-bordered">
                          <thead class="thead-dark">
                            <tr>     
                              <th>Numero</th>
                              <th>Tipo Porta</th>
                              
                            </tr>
                          </thead>
                          
                          <tbody>
                          <tr>
                            <td style="width: 20%">                
                              {% render_field filter_porte_uscite.form.numero_posizione class="form-control" %}
                            </td>
                            
                            <td style="width: 20%">
                              {% render_field filter_porte_uscite.form.tipo_porta class="form-control" %}
                            </td>
                            
                          </tr>
                    
                          
                          
                        </tbody>
                        </table>
                      </div>
                        
              
                      
              
                      <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i>&nbsp;&nbsp; Cerca</button>
                      <a class="btn btn-success" href="{% url 'antincendio:antincendio_home' %}"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Pulisci campi</a>
                      
                    </form>
                    
                    
                  </div>
                </div>
                
              </div>
              <!-- Fine filtro -->



            <p>Numero porte totale {{ tot_porte_uscite }} - Numero porte filtrate {{ porte_uscite_filter_count }}</p>
            <div class="table-container">
              <table class="table table-bordered table-striped mt-2">
                <thead>
                  <tr>
                    <th>Numero</th> 
                    <th>Tipo Porta</th> 
                    <th>Azione</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for porta_uscita in porte_uscite_paginator %}
                  <tr>        
                    
                    <td><a href="{% url 'antincendio:modifica_porta_uscita' pk=porta_uscita.pk %}">{{ porta_uscita.numero_posizione }}</a></td>
                    <td>{{ porta_uscita.tipo_porta }}</td>                    
                    <!-- ATTENZIONE: In questo template ci sono molti subtemplate ed è necessario definire univocamente il pulsante di eliminazione. -->
                    <!-- Pertanto è stato modificato l'id del pulsante.  --> 
                    <td class="text-center"><a href="{% url 'antincendio:delete_porta_uscita' pk=porta_uscita.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButtonPorta{{porta_uscita.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
                  </tr>  
                  {% endfor %}
                </tbody>
              </table>
            </div>
        <!-- Paginazione -->
            <div class="pagination">
              <span class="step-links">
                {% if porte_uscite_paginator.has_previous %}
                  <a href="?page={{ porte_uscite_paginator.previous_page_number }}">precedente</a>
                {% endif %}

                <span class="current-page">{{ porte_uscite_paginator.number }}</span>

                {% if porte_uscite_paginator.has_next %}
                  <a href="?page={{ porte_uscite_paginator.next_page_number }}">successivo</a>
                {% endif %}
              </span>
            </div>
            
        <!-- Fine Paginazione -->

          
        <!-- Fine Porte/Uscite -->