{% extends 'core/base.html' %}
{% load static %}
{% block title %}QMS {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_dashboard.html" %}
{% endblock %}

{% block content %}
{% include 'core/modals/baseModalDateInterval.html' %}
    <div class="row mb-3 mt-3">
    <div class="col-3">
    <h5>Dashboard</h5>
</div>
    <div class="col-3">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="setModalUrl('{% url 'monitoraggi:report_dati_produzione' %}', 'Dati Produzione', 'Aggiorna intervallo')" id="btnIntervallo"><i class="bi bi-calendar3"></i> Ultimi 365 gg</button>
    </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Grafico Produzione</h5>
                  
                  <canvas id="produzione_ultimo_anno" data-url=""></canvas>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Chart 2</h5>
                  
                  <canvas id="acquisitions-pie"></canvas>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
        
    </div>
    <br>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Chart 3</h5>
                  
                  <canvas id="acquisitions-doughnut"></canvas>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static '/js/monitoraggi/monitoraggi.js' %}"></script>
<script>


    document.addEventListener('DOMContentLoaded', function() {
        updateChart("{% url 'monitoraggi:produzione_ultimo_anno' %}");
        renderizzaGrafico("{% url 'monitoraggi:consumi_mj_mq_ultimo_anno' %}");
      });

(async function() {
    const data = [
        { year: 2010, count: 10 },
        { year: 2011, count: 20 },
        { year: 2012, count: 15 },
        { year: 2013, count: 25 },
        { year: 2014, count: 22 },
        { year: 2015, count: 30 },
        { year: 2016, count: 28 },
    ];
    
    new Chart(
        document.getElementById('acquisitions-bar'),
        {
        type: 'bar',
        data: {
            labels: data.map(row => row.year),
            datasets: [
            {
                label: 'Acquisitions by year',
                data: data.map(row => row.count)
            }
            ]
        }
        }
    );
    })();

    (async function() {
        const data = [
            { year: 2010, count: 10 },
            { year: 2011, count: 20 },
            { year: 2012, count: 15 },
            { year: 2013, count: 25 },
            { year: 2014, count: 22 },
            { year: 2015, count: 30 },
            { year: 2016, count: 28 },
        ];
        
        new Chart(
            document.getElementById('acquisitions-pie'),
            {
            type: 'pie',
            data: {
                labels: data.map(row => row.year),
                datasets: [
                {
                    label: 'Acquisitions by year',
                    data: data.map(row => row.count)
                }
                ]
            }
            }
        );
        })();

        (async function() {
            const data = [
                { year: 2010, count: 10 },
                { year: 2011, count: 20 },
                { year: 2012, count: 15 },
                { year: 2013, count: 25 },
                { year: 2014, count: 22 },
                { year: 2015, count: 30 },
                { year: 2016, count: 28 },
            ];
            
            new Chart(
                document.getElementById('acquisitions-doughnut'),
                {
                type: 'doughnut',
                data: {
                    labels: data.map(row => row.year),
                    datasets: [
                    {
                        label: 'Acquisitions by year',
                        data: data.map(row => row.count)
                    }
                    ]
                }
                }
            );
            })();
</script>
{% endblock %}