{% extends 'core/base.html' %}
{% load static %}
{% block title %}QMS {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_dashboard.html" %}
{% endblock %}

{% block content %}
{% include 'core/modals/baseModalDateInterval.html' %}
    <div class="row mb-3 mt-3">
    <div class="col-3">
    <h5>Dashboard</h5>
</div>
    <div class="col-3">
        <!--<button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="setModalUrl(`{% url 'core:produzione' %}`, 'Dati Produzione', 'Aggiorna intervallo')" id="btnIntervallo"><i class="bi bi-calendar3"></i> Ultimi 365 gg</button>-->
        <button type="button" class="btn btn-sm btn-secondary" onclick="setModalDates()" id="interval_button"><i class="bi bi-calendar3"></i> Ultimi 365 gg</button>
        
    </div>
    </div>
    <!-- Riga Produzione -->

    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Grafico Produzione</h5>
                  
                  <!--<canvas id="produzione_ultimo_anno" data-url=""></canvas>-->
                  <canvas id="produzione" data-url=""></canvas>
                  <a href="{% url 'monitoraggi:dashboard_monitoraggi' %}" target="_blank" class="card-link">Vedi monitoraggio</a>                  
                </div>
              </div>
        </div>

        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-auto">
              <h1><i class="bi bi-pie-chart"></i></h1>
              </div>
              <div class="col-auto">
                <h4>Destinazione d'uso</h4>
              </div>
            </div>
          
        
          <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  
                  <th>Destinazione d'uso</th>
                  <th>N. Pelli</th>                                    
                  <th>MQ</th>                                    
                  <th>Kg.</th>                                    
                   
                </tr>
              </thead>
              <tbody id='data-table-body-produzione'>
                
              </tbody>
            </table>
        </div>


    </div>
    <!-- Fine Riga Produzione -->
    <hr>
    
    <!-- Riga Energia -->
    <div class="row">
      <div class="col-6">        
        <div class="row align-items-center">
          <div class="col-auto">
            <h1><i class="bi bi-lightbulb"></i></h1>
            </div>
            <div class="col-auto">
              <h4>Rapporto mensile Mq/Mjoule</h4>
            </div>
          </div>
        
        
        <table class="table table-bordered table-striped">
            <thead>
              <tr>
                
                <th>Mese</th>
                <th>Mjoule</th>                                    
                 
              </tr>
            </thead>
            <tbody id='data-table-body-energia'>
              
            </tbody>
          </table>
      </div>

        <div class="col-6">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Grafico Energia Mj/produzione</h5>
                  
                  <canvas id="energia"></canvas>
                  <a href="{% url 'monitoraggi:dashboard_monitoraggi' %}" target="_blank"  class="card-link">Vedi monitoraggio</a>
                  
                </div>
              </div>
        </div>
      </div>
        
    
      <br>
    <!-- Fine Riga Energia -->
    <hr>
    
    <!--Riga Gas -->
    <div class="row">
      <div class="col-6">        
          <div class="card" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title">Grafico Gas Mj/produzione</h5>
                
                <!--<canvas id="produzione_ultimo_anno" data-url=""></canvas>-->
                <canvas id="gas" data-url=""></canvas>
                <a href="{% url 'monitoraggi:dashboard_monitoraggi' %}" target="_blank" class="card-link">Vedi monitoraggio</a>                  
              </div>
            </div>
      </div>
      <div class="col-6">
        <div class="row align-items-center">
          <div class="col-auto">
            <h1><i class="bi bi-fire"></i></h1>
          </div>
          <div class="col-auto">
            <h4>Rapporto mensile Mq/Mjoule</h4>
          </div>
      </div>
                  
          <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  
                  <th>Mese</th>
                  <th>Mjoule</th>                                    
                   
                </tr>
              </thead>
              <tbody id='data-table-body-gas'>
                
              </tbody>
            </table>
        
      </div>
      <!-- Fine riga GAS -->
      
  </div>
  <br>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Chart 3</h5>
                  
                  <canvas id="acquisitions-doughnut"></canvas>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
<!-- Passo gli url per renderli disponibili nel file dashboard.js -->
<div id="url-container" 
  data-produzione-url="{% url 'core:produzione' %}" 
  data-energia-url="{% url 'core:energia' %}" 
  data-gas-url="{% url 'core:gas' %}">
</div>
<script src="{% static '/js/dashboard/dashboard.js' %}"></script>
<script>
  
  
  document.addEventListener('DOMContentLoaded', function() {
    var from_date = '{{ from_date }}';
    var to_date = '{{ to_date }}';

// Effettua una richiesta AJAX a produzione_intervallo_date
fetch("{% url 'core:produzione' %}?from_date=" + from_date + "&to_date=" + to_date)
    .then(response => response.json())
    .then(data => {
    // Elabora i dati ricevuti, ad esempio aggiorna il grafico nel tuo template
    updateChartWithData(data, from_date, to_date);
    renderDataInTemplate(data, from_date, to_date);
    
    })
    .catch(error => console.log(error));
// Effettua una richiesta AJAX a energia
fetch("{% url 'core:energia' %}?from_date=" + from_date + "&to_date=" + to_date)
    .then(response => response.json())
    .then(data => {
        
        // Elabora i dati ricevuti, ad esempio aggiorna il grafico nel tuo template
        updateChartWithDataEnergia(data, from_date, to_date);
        renderDataInTemplateEnergia(data, from_date, to_date);
    
    })
    .catch(error => console.log(error));
  // Effettua una richiesta AJAX a gas
fetch("{% url 'core:gas' %}?from_date=" + from_date + "&to_date=" + to_date)
.then(response => response.json())
.then(data => {
    
    // Elabora i dati ricevuti, ad esempio aggiorna il grafico nel tuo template
    updateChartWithDataGas(data, from_date, to_date);
    renderDataInTemplateGas(data, from_date, to_date);
    console.log(data)

})
.catch(error => console.log(error));

});

</script>
{% endblock %}