{% extends 'core/base.html' %}
{% load static %}
{% block title %}QMS {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_dashboard.html" %}
{% endblock %}

{% block content %}
{% include 'core/modals/baseModalDateInterval.html' %}
    <div class="row mb-3 mt-3">
    <div class="col-3">
    <h5>Dashboard</h5>
</div>
    <div class="col-3">
        <!--<button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="setModalUrl(`{% url 'core:produzione' %}`, 'Dati Produzione', 'Aggiorna intervallo')" id="btnIntervallo"><i class="bi bi-calendar3"></i> Ultimi 365 gg</button>-->
        <button type="button" class="btn btn-sm btn-secondary" onclick="setModalDates()" id="interval_button"><i class="bi bi-calendar3"></i> Ultimi 365 gg</button>
        
    </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Grafico Produzione</h5>
                  
                  <!--<canvas id="produzione_ultimo_anno" data-url=""></canvas>-->
                  <canvas id="produzione" data-url=""></canvas>
                  <a href="#" class="card-link">Vedi monitoraggio</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Chart 2</h5>
                  
                  <canvas id="acquisitions-pie"></canvas>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
        
    </div>
    <br>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Chart 3</h5>
                  
                  <canvas id="acquisitions-doughnut"></canvas>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}

<script>


    document.addEventListener('DOMContentLoaded', function() {
        var from_date = '{{ from_date }}';
        var to_date = '{{ to_date }}';

    // Effettua una richiesta AJAX a produzione_intervallo_date
    fetch("{% url 'core:produzione' %}?from_date=" + from_date + "&to_date=" + to_date)
        .then(response => response.json())
        .then(data => {
        // Elabora i dati ricevuti, ad esempio aggiorna il grafico nel tuo template
        updateChartWithData(data, from_date, to_date);
        //renderDataInTemplate(data, from_date, to_date);
        
        })
        .catch(error => console.log(error));
    });

// Dichiarare una variabile globale per memorizzare il riferimento al grafico
var myChart;

function updateChartWithData(data, from_date, to_date) {
    // Elabora i dati e aggiorna il grafico utilizzando Chart.js
    var labels = [];
    var quantities = [];
  
    for (var i = 0; i < data.length; i++) {
      labels.push(data[i].industries_served);
      quantities.push(data[i].total_quantity);
    }

    // Se il grafico è già stato creato, aggiorna i dati
    if (myChart) {
        myChart.data.labels = labels;
        myChart.data.datasets[0].data = quantities;
        myChart.update(); // Aggiorna il grafico con i nuovi dati
    } else {
        // Altrimenti, crea un nuovo grafico
        var ctx = document.getElementById('produzione').getContext('2d');
        myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Total Quantity',
                    data: quantities,
                    backgroundColor: getRandomColor(),
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: false  // Imposta il display della legenda su false per rimuoverla
                    }
                }
            }
        });
    }
}

  

    // Chiama la funzione updateChart con l'URL contenente le date, se presenti
    
      

      function updateChart(url) {
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const labels = data.map(entry => entry.industries_served);
                const quantities = data.map(entry => entry.total_quantity);
    
                const ctx = document.getElementById('produzione').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Total Quantity',
                            data: quantities,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            })
            .catch(error => console.log(error));
    }

var fromDate = '';
var toDate = '';



    function setModalDates() {
      // Ottieni le date attuali dal grafico
      //var fromDate = '2023-01-01'; // Data iniziale di riferimento
      //var toDate = '2023-12-31'; // Data finale di riferimento
  
      // Imposta le date nel form del modal
      document.getElementById('from_date').value = fromDate;
      document.getElementById('to_date').value = toDate;
  
      // Apri il modal
      var myModal = new bootstrap.Modal(document.getElementById('myModal'));
      myModal.show();
  }


  document.getElementById('date_form').addEventListener('submit', function (e) {
    e.preventDefault(); // Impedisce l'invio del form

    if (validateForm()) {
      // Ottieni le date selezionate
      var fromDate = document.getElementById('from_date').value;
      var toDate = document.getElementById('to_date').value;

      $('#myModal').modal('hide');

      var intervalButton = document.getElementById('interval_button');
      //intervalButton.innerHTML = '<i class="bi bi-calendar3"></i> Dalla data ' + fromDate + ' alla data ' + toDate;
      document.getElementById('interval_button').innerHTML = '<i class="bi bi-calendar3"></i> Dalla data ' + new Date(fromDate).toLocaleDateString('it-IT') + '<br>alla data ' + new Date(toDate).toLocaleDateString('it-IT');


      // Esegui una richiesta AJAX per ottenere i dati aggiornati
      var url = "{% url 'core:produzione' %}?from_date=" + fromDate + "&to_date=" + toDate;
      fetch(url)
          .then(response => response.json())
          .then(data => {
              // Aggiorna il grafico con i nuovi dati
              updateChartWithData(data, fromDate, toDate);
          })
          .catch(error => console.error('Errore durante il recupero dei dati:', error));
  }
});



    (async function() {
        const data = [
            { year: 2010, count: 10 },
            { year: 2011, count: 20 },
            { year: 2012, count: 15 },
            { year: 2013, count: 25 },
            { year: 2014, count: 22 },
            { year: 2015, count: 30 },
            { year: 2016, count: 28 },
        ];
        
        new Chart(
            document.getElementById('acquisitions-pie'),
            {
            type: 'pie',
            data: {
                labels: data.map(row => row.year),
                datasets: [
                {
                    label: 'Acquisitions by year',
                    data: data.map(row => row.count)
                }
                ]
            }
            }
        );
        })();

        (async function() {
            const data = [
                { year: 2010, count: 10 },
                { year: 2011, count: 20 },
                { year: 2012, count: 15 },
                { year: 2013, count: 25 },
                { year: 2014, count: 22 },
                { year: 2015, count: 30 },
                { year: 2016, count: 28 },
            ];
            
            new Chart(
                document.getElementById('acquisitions-doughnut'),
                {
                type: 'doughnut',
                data: {
                    labels: data.map(row => row.year),
                    datasets: [
                    {
                        label: 'Acquisitions by year',
                        data: data.map(row => row.count)
                    }
                    ]
                }
                }
            );
            })();
</script>
{% endblock %}