{% extends 'core/base.html' %}

{% block title %}QMS {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_base.html" %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mt-4">
        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-person-vcard"></i> Anagrafiche</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'anagrafiche:home_clienti' %}" class="btn btn-lg btn-primary">Vai alla sezione Clienti</a>
                  <a href="{% url 'anagrafiche:home_fornitori' %}" class="btn btn-lg btn-primary">Vai alla sezione Fornitori</a>
                  
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-archive"></i> Articoli</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'articoli:articoli_home' %}" class="btn btn-lg btn-primary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-person-workspace"></i> Risorse Umane</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'human_resources:human_resources' %}" class="btn btn-lg btn-primary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-box-arrow-in-down-left"></i> Acquisti</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'acquistopelli:dashboard_acquisto_pelli' %}" class="btn btn-lg btn-primary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-box-arrow-up-right"></i> Vendite</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-lg btn-primary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Lavorazioni</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-lg btn-primary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-moisture"></i> Gestione Chimica</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-lg btn-primary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-speedometer"></i> Monitoraggi</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'monitoraggi:dashboard_monitoraggi' %}" class="btn btn-lg btn-primary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-wrench"></i> Manutenzioni</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-lg btn-primary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">
          <div class="card" >
              <div class="card-body">
                <h5 class="card-title"><i class="bi bi-book"></i> Manuale Procedure</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{% url 'manualeprocedure:procedure_home' %}" class="btn btn-lg btn-primary">Vai alla sezione</a>
                
              </div>
            </div>
      </div>

      
  </div>
  <hr>
</div>
{% endblock %}