{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Home - Antincendio {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_antincendio.html" %}
{% endblock %}

{% block content %}

{% include 'antincendio/modals/squadra_antincendio_modal.html' %}
{% include 'antincendio/modals/scadenzario_modal.html' %}
{% include 'core/modals/delConfirm.html' %}

<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item active" aria-current="page">Antincendio</li>
    </ol>
</nav>

    <div class="container">
        
        <h3>Antincendio</h3>
        <br>
        {% include "core/partials/_messages.html" %}

        <!-- Riga grafici e statistiche -->
        <div class="row">
          <hr>
          <div class="col-4"> 
            {% if squadra_antincendio %}
            <div class="card mb-4 shadow">
              <h5 class="card-header">Squadra Antincendio</h5>
              <div class="card-body">
                {% for operatore in squadra_antincendio %}
                  {% if forloop.counter <= 3 %}
                    <p class="card-text">{{ operatore.fk_hr }} in squadra dal {{ operatore.data_inizio_incarico }}</p>
                  {% endif %}
                {% endfor %}
              </div>
              
                {% if squadra_antincendio.count > 3 %}
                  <div class="text-end me-1 mb-1">
                  
                    <a href="#" class="text-end" data-bs-toggle="modal" data-bs-target="#squadra_antincendio_modal">[...]</a>
                  </div>
                {% endif %}
              
            </div>
            
            {% else %}
              <p style="color: red;">Non è ancora stata assegnata la Squadra Antincendio</p>
            
            {% endif %}
          </div>
          <div class="col-4">
            {% if scadenzario %}
            <div class="card mb-4 shadow">
              <h5 class="card-header">Prossime scadenze formazione</h5>
                
              <div class="card-body">
                {% for scadenza in scadenzario %}
                  {% if forloop.counter <= 3 %}
                    <p class="card-text mb-0">{{ scadenza.descrizione }}</p>
                    <p class="card-text">Scadenza prevista: {{ scadenza.mese_anno }}</p>
                  {% endif %}
                {% endfor %}
              </div>
              
              {% if scadenzario|length > 3 %}
                <div class="text-end me-1 mb-1">
                    <a href="#" class="text-end" data-bs-toggle="modal" data-bs-target="#scadenzario_modal">[...]</a>
                </div>
              {% endif %}
            </div>
            
            {% else %}
              <p style="color: red;">Non è ancora presente formazione</p>            
            {% endif %}
          </div>

          <br>
          <br>
          <hr>
        </div>
        
        <!-- Fine riga grafici e statistiche -->
        
        

      <div class="row">
          <div class="col-6">
            {% include "antincendio/partials/_estintori.html" %}

          </div>
          <div class="col-6">
            {% include "antincendio/partials/_idranti.html" %}

          </div>
    

      </div>
      <!-- Fine prima riga -->

  <br>
  <hr>

  <!-- Seconda riga -->

      <div class="row">
        
          <div class="col-6">
            {% include "antincendio/partials/_porte_uscite.html" %}

          </div>
          <div class="col-6">
            {% include "antincendio/partials/_attrezzatura_antincendio.html" %}

          </div>
      </div>
  <!-- Fine seconda riga -->

  <br>
  <hr>

  <!-- Terza riga -->

      <div class="row">
    
          <div class="col-6">
            {% include "antincendio/partials/_impianto_spegnimento.html" %}

          </div>

      </div>
    <!-- Fine Terza riga -->
        
    </div>



{% endblock %}

{% block extra_scripts %}

{% endblock %}