{% extends 'core/base.html' %}
{% load static %}
{% block title %}QMS {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_base.html" %}
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row mt-4">
      
        <div class="col-4">
          <div class="card" >
              
              
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-person-vcard"></i> Facility Details</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Dettagli Azienda</h6>
                  <p class="card-text">Questa sezione raccoglie informazioni introduttive riguardanti l'Azienda.</p>
                  <a href="{% url 'anagrafiche:edit_facility_details' pk=1 %}" class="btn btn-sm btn-primary">Vai alla sezione</a>
                  
                  
                </div>
              </div>
              
        </div>

        <div class="col-4">
            <div class="card" >

            

                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-archive"></i> Subcontracted Operations</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Terzisti</h6>
                  <p class="card-text">Registro delle operazioni effettuate dai terzisti</p>
                  <a href="{% url 'lwg:lwg_procedure' fk_lwgsection=3 %}" class="btn btn-sm btn-secondary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-person-workspace"></i> Social Audit</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Resposabilità Sociale</h6>
                  <p class="card-text">Questa sezione cerca di determinare se l'organizzazione può dimostrare responsabilità sociale attraverso una valutazione indipendente.</p>
                  <a href="#" class="btn btn-sm btn-secondary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-file-check"></i> Operating Permits</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Permessi Operativi</h6>
                  <p class="card-text">Questa sezione valuta la conformità dell'impianto alle licenze e alla legislazione applicabili.</p>
                  <a href="{% url 'autorizzazioni:autorizzazioni_home' %}" class="btn btn-sm btn-primary">Vai alla sezione</a>
                  {% if scadenze_autorizzazioni > 0 %}
        
                    <button onclick="goToPermitsSchedule()" type="button" class="btn btn-primary btn-sm position-relative float-end ">
                        Prossime scadenze
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ scadenze_autorizzazioni }}
                        <span class="visually-hidden">Prossime scadenze</span>
                        </span>
                    </button>
                  {% endif %}
                  
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-bar-chart"></i> Production Data</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Dati Produzione</h6>
                  <p class="card-text">Questa sezione è progettata per collegare insieme la filiera della pelle e valutare il rischio e il rating di coloro che forniscono materiali semilavorati e grezzi.</p>
                  <a href="{% url 'monitoraggi:dashboard_monitoraggi' %}" class="btn btn-sm btn-primary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-journal-arrow-down"></i> Traceability (incoming)</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Tracciabilità in ingresso</h6>
                  <p class="card-text">Questa sezione valuta la capacità dei produttori di pelle di tracciare il loro materiale in entrata fino al mattatoio specifico o alla regione di origine.</p>
                  <a href="{% url 'acquistopelli:dashboard_acquisto_pelli' %}" class="btn btn-sm btn-primary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-journal-arrow-up"></i> Traceability (outgoing)</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Tracciabilità in Uscita</h6>
                  <p class="card-text">Questa sezione valuta la capacità dei produttori di pelle di tracciare il proprio materiale attraverso i propri processi di produzione.</p>
                  <a href="#" class="btn btn-sm btn-secondary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-flower3"></i> Environmental Management System</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Sistema di Gestione Ambientale</h6>
                  <p class="card-text">Questa sezione valuta se l'impianto dispone di un sistema documentato, efficace e attivo per gestire gli aspetti ambientali della propria attività.</p>
                  <a href="#" class="btn btn-sm btn-secondary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-diamond"></i> Restricted Substances, Compliance, Chromium VI Management</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Sostanze con limitazioni, Conformità e gestione del Cromo VI</h6>
                  <p class="card-text">Questa sezione valuta fino a che punto l'impianto gestisce, comprende e attua i requisiti sulle sostanze con limitazioni dei propri clienti.</p>
                  <a href="#" class="btn btn-sm btn-secondary">Vai alla sezione</a>
                  
                </div>
              </div>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">
          <div class="card" >
              <div class="card-body">
                <h5 class="card-title"><i class="bi bi-battery-charging"></i> Energy Comsumption</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Consumi Energetici</h6>
                <p class="card-text">Questa sezione valuta il consumo di energia per unità prodotta, inclusi i processi che sono stati appaltati ad altre aziende.</p>
                <a href="{% url 'monitoraggi:dashboard_monitoraggi' %}" class="btn btn-sm btn-primary">Vai alla sezione</a>
                
              </div>
            </div>
      </div>

      <div class="col-4">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title"><i class="bi bi-water"></i> Water Usage</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Consumi idrici</h6>
              <p class="card-text">Questa sezione valuta l'utilizzo di acqua dolce per unità prodotta.</p>
              <a href="#" class="btn btn-sm btn-secondary">Vai alla sezione</a>
              
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title"><i class="bi bi-cloud-check"></i> Air & Noise Emissions</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Emissioni in atmosfera e Rumore</h6>
              <p class="card-text">Questa sezione valuta la gestione delle emissioni atmosferiche e acustiche di un impianto verso l'ambiente e richiede inventari, gestione e monitoraggio.</p>
              <a href="#" class="btn btn-sm btn-secondary">Vai alla sezione</a>
              
            </div>
          </div>
    </div>

      
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title"><i class="bi bi-recycle"></i> Waste Management</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Gestione dei Rifiuti</h6>
              <p class="card-text">Questa sezione valuta la gestione e il controllo dei rifiuti generati dal sito dell'impianto e richiede inventari, categorizzazione dei rifiuti e adeguata conservazione e smaltimento.</p>
              <a href="{% url 'gestionerifiuti:gestione_rifiuti_home' %}" class="btn btn-sm btn-primary">Vai alla sezione</a>
              
            </div>
          </div>
    </div>

    <div class="col-4">
      <div class="card" >
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-book"></i> Effluent Treatment</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Scarichi idrici</h6>
            <p class="card-text">Questa sezione valuta la gestione degli scarichi idrici, sia presso il proprio sito che presso un fornitore esterno.</p>
            <a href="{% url 'monitoraggi:dashboard_monitoraggi' %}" class="btn btn-sm btn-primary">Vai alla sezione</a>
            
          </div>
        </div>
  </div>
  <div class="col-4">
      <div class="card" >
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-shield-check"></i> Health, Safety, Emergency Preparedness</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Salute, Sicurezza e preparazione alle emergenze</h6>
            <p class="card-text">Questa sezione valuta la capacità dell'impianto di gestire una serie di rischi di emergenza, salute e sicurezza. Ciò include sistemi, processi e responsabilità.</p>
            <a href="{% url 'human_resources:human_resources' %}" class="btn btn-sm btn-primary">Vai alla sezione</a>
            
          </div>
        </div>
  </div>

    
</div>
<hr>
<hr>
  <div class="row">
    <div class="col-4">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title"><i class="bi bi-moisture"></i> Chemical Management</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Gestione Chimica</h6>
              <p class="card-text">Lo scopo di questa sezione è valutare la consapevolezza, la comprensione e la gestione dei prodotti chimici utilizzati nel processo di produzione della pelle.</p>
              <a href="{% url 'chem_man:home_prodotti_chimici' %}" class="btn btn-sm btn-primary">Vai alla sezione</a>
              
            </div>
          </div>
    </div>

    <div class="col-4">
      <div class="card" >
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-house-check"></i> Operations Management</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Gestione delle Operazioni</h6>
            <p class="card-text">Questa sezione valuta la capacità dell'impianto di controllare i propri processi di produzione, esaminando le migliori pratiche, l'utilizzo delle attrezzature e le calibrazioni, ecc.</p>
            <a href="{% url 'manutenzioni:dashboard_manutenzioni' %}" class="btn btn-sm btn-primary">Vai alla sezione</a>
                  {% if scadenze_manutenzioni > 0 %}
        
                    <button onclick="goToMaintenanceSchedule()" type="button" class="btn btn-primary btn-sm position-relative float-end ">
                        Prossime scadenze
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ scadenze_manutenzioni }}
                        <span class="visually-hidden">Prossime scadenze</span>
                        </span>
                    </button>
                  {% endif %}
            
          </div>
        </div>
  </div>
  

    
</div>
<hr>





</div>

<div class="toast-container">
    {% for scadenza in scadenzario %}
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
              <strong class="mr-auto">Scadenza</strong>
              <small>{{ scadenza.scadenza|date:"d M y" }}</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="toast-body">
              {{ scadenza.descrizione }}
          </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}

{% block extra_scripts %}
<script>

$(document).ready(function() {
        $('.toast').toast('show');
    });

function goToPermitsSchedule(){
        document.location.href = "{% url 'autorizzazioni:stampa_registro_autorizzazioni' %}"        
    };

function goToMaintenanceSchedule(){
        document.location.href = "{% url 'manutenzioni:scadenzario' %}"        
    };


</script>
{% endblock %}
