{% extends 'core/base.html' %}
{% load static %}
{% block title %}QMS {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_base.html" %}
{% endblock %}

{% block content %}
  <div class="container mt-3">
  <h3>Le tue scadenze</h3>
  <hr>
  <div class="row">
    {% for scadenza in scadenzario %}
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3>
                    <div class='row'>
                    <div class='col text-start'>
                    {% if scadenza.icona %}
                        <i class="{{ scadenza.icona }}"></i>
                    {% endif %}
                    </div>
                    <div class='col text-end'>
                        {{ scadenza.scadenza|date:"d M y" }}
                        </div>
                    </div>
                    </h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Tipo scadenza: {{ scadenza.nomemodello }}</h5>
                    <p class="card-text">{{ scadenza.descrizione }}</p>
                    <a href="{% url scadenza.url %}" class="btn btn-primary">Vedi</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
            
            </div><br><div class="row">
            
            
        {% endif %}    
    {% endfor %}
    
</div>
{% endblock %}

{% block extra_scripts %}
<script>
function goToPermitsSchedule(){
        document.location.href = "{% url 'autorizzazioni:stampa_registro_autorizzazioni' %}"        
    };

function goToMaintenanceSchedule(){
        document.location.href = "{% url 'manutenzioni:scadenzario' %}"        
    };




</script>
{% endblock %}
