<div class="row">
      
    
    
      <h5>Dettaglio Procedura</h5>
                
    
    <div class="col-12 text-end">
      
      <a href="{% url 'articoli:aggiungi_dettaglio_procedura' fk_procedura=procedura.pk %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Riga di Dettaglio</a>

    </div>
  </div>
  <div class="table-container">
    <table class="table table-bordered table-striped mt-2">
      <thead>
        <tr>
          <th>Riga </th>
          <th>Fase di Lavoro</th> 
          <th>Azioni</th>
          
        </tr>
      </thead>
      <tbody>
        {% for dettaglio in elenco_dettagli %}
        <tr>        
          
          <td class="numero-riga"><a href="{% url 'articoli:modifica_dettaglio_procedura' fk_procedura=dettaglio.fk_procedura.pk pk=dettaglio.pk %}">{{ dettaglio.numero_riga }}</a></td>
          <td>{{ dettaglio.fk_faselavoro.descrizione }}</td>            
          <td class="text-center">
            <a href="{% url 'articoli:delete_dettaglio_procedura' pk=dettaglio.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{dettaglio.pk}}"><i class="bi bi-trash"></i>Elimina</a>
            <button type="button" class="btn btn-sm btn-outline-primary ms-1" 
              data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip"
              data-bs-title="Sposta la riga in alto"
              id="btnUp">
              <i class="bi bi-arrow-bar-up"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary ms-1" 
              data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip"
              data-bs-title="Sposta la riga in basso"
              id="btnDown">
              <i class="bi bi-arrow-bar-down"></i>
            </button>
          </td>

        </tr>  
        {% endfor %}
      </tbody>
    </table>
  </div>
  