{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Dati Produzione {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_monitoraggi.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'monitoraggi:dashboard_monitoraggi' %}">Dashboard Monitoraggi</a></li>        

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica inserimento {{ datoproduzione.data_inserimento }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi inserimento</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica inserimento {{ datoproduzione.data_inserimento }}</h3>
        {% else %}
            <h3> Aggiungi inserimento</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>


        <form method="post">
            {% csrf_token %}

            

            <div class="row">
                <div class="col-3">
                    {{ form.data_inserimento|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.industries_served|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.fk_tipoanimale|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.n_pelli|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.mq|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.kg|as_crispy_field }}
                </div>
                
                
                
            </div>
            <div class="row">
                <div class="col-8">
                    {{ form.note|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.created_by.as_hidden }}
                </div>
            </div>
            
            

            
            <input type="submit" class="btn btn-success" value="Salva">
            <button type="button" class="btn btn-danger" onclick="goBack()"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
        </form>
        <hr>
        
        
    </div>



{% endblock %}

{% block extra_scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
            setFocusOnField('id_data_inserimento');
        });

    
</script>
{% endblock %} 