{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Prezzo Prodotto {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_chem_man.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'chem_man:home_prodotti_chimici' %}">Lista Prodotti Chimici</a></li>        
        <li class="breadcrumb-item"><a href="{% url 'chem_man:modifica_prodotto_chimico' pk=fk_prodottochimico.pk %}">{{ fk_prodottochimico }}</a></li>        

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica prezzo</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi prezzo</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica prezzo</h3>
        {% else %}
            <h3> Aggiungi prezzo</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>


        <form method="post">
            {% csrf_token %}


            <div class="row">
                <div class="col-3">
                    {{ form.data_inserimento|as_crispy_field }}                    
                </div>
                <div class="col-2">
                    {{ form.prezzo|as_crispy_field }}                    
                </div>
                <div class="col-3">
                    {{ form.note|as_crispy_field }}                    
                </div>
                <div class="col-2">
                    {{ form.created_by|as_crispy_field }}                    
                </div>
                <div class="col-2">
                    {{ form.fk_prodottochimico|as_crispy_field }}                    
                </div>
                
            </div>
            
            

            
            <input type="submit" class="btn btn-success" value="Salva">
            <button type="button" class="btn btn-danger" onclick="cancelAndRedirectTo('{% url 'chem_man:modifica_prodotto_chimico' pk=fk_prodottochimico.pk %}')"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
        </form>
        <hr>
        
        
    </div>



{% endblock %}


{% block extra_scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setFocusOnField('id_data_inserimento');
        });
    </script>
{% endblock %}
