{% extends 'core/base.html' %} 
{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}
{% block head_title %}{{ block.super }} - Prodotto Chimico{% endblock head_title %} 

{% block sidenav %}
{% include "core/partials/_sidenav_chem_man.html" %}
{% endblock %}

{% block content %}
{% include 'core/modals/delConfirm.html' %}

<nav aria-label="breadcrumb" class="mt-3"> 
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'chem_man:home_prodotti_chimici' %}">Lista Prodotti Chimici</a></li>     
        
        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica {{ prodottochimico.descrizione }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi Prodotto Chimico</li>
        {% endif %}     
    </ol>

</nav>

<div class="container">
    <br>
    
    <div class="container">
      {% if form.instance.id  %}
          <h3>Modifica {{ prodottochimico.descrizione }}</h3>
      {% else %}
          <h3> Aggiungi Prodotto Chimico</h3>
      {% endif %}
    <hr>
    <br>
    {% include "core/partials/_messages.html" %}
    
    <!-- Form nuovo registro -->
    
    <div class="form-group mt-3">
        <form class="mt-3" method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="previous_page" name="previous_page"
            value="/previous/page/url">
            <input type="submit" name="salva_esci" class="btn btn-success mb-2 me-1" value="Salva ed Esci">
            <input type="submit" name="salva_continua" class="btn btn-success mb-2 me-1" value="Salva e continua">
            <button type="button" class="btn btn-danger mb-2 me-1" onclick="goBack()"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
            
            

            
                    <div class="row mb-4">
                      
                      <div class="col-md-12 border rounded shadow-sm">
                        <div class="row mt-3">
                            <div class = "col-md-3">
                              {{ form.descrizione|as_crispy_field }}
                            </div>
                            <div class = "col-md-3">
                              {{ form.fk_fornitore|as_crispy_field }}
                            </div>
                            <div class="col-md-2">
                              {{ form.solvente|as_crispy_field }}
                            </div>
                            
                        </div>
                        <div class="row">  
                          <div class="col-md-2">
                            {{ form.reparto|as_crispy_field }} 
                          </div> 
                          
                          <div class="col-md-3">
                            {{ form.flame_class|as_crispy_field }}
                          </div>                            
                          <div class="col-md-2">
                            {{ form.zdhc_level|as_crispy_field }}
                          </div>  
                          <div class="col-md-5">
                            {{ form.fk_imballaggio|as_crispy_field }}
                          </div> 
                              
                        </div>
                        <div class="row">
                          <div class="col-6">
                            {{ form.note|as_crispy_field }}
                        </div>
                            <div class="col-md-3">
                              {{ form.created_by|as_crispy_field }}
                            </div>
                        </div>
                        
                        <hr>
                        

                        

                    </div>
                      </div>

        <!-- fine form -->
        </form>

        

    </div>

    
    <div class="row">
      <!-- Tabella prezzi -->
      <div class="col-6">
        <div class="row">
        
        {% if form.instance.id  %}
        <div class="col-6">
          <h5>Storico Prezzi</h5>
                    
        </div>
        <div class="col-6 text-end">
          
          <a href="{% url 'chem_man:aggiungi_prezzo_prodotto_chimico' fk_prodottochimico=prodottochimico.pk %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Prezzo</a>

        </div>
      </div>
      <div class="table-container">
        <table class="table table-bordered table-striped mt-2">
          <thead>
            <tr>
              <th>Data Inserimento</th>
              <th>Prezzo</th>   
              <th>Azione</th>
              
            </tr>
          </thead>
          <tbody>
            {% for prezzo in elenco_prezzi %}
            <tr>        
              
              <td><a href="{% url 'chem_man:modifica_prezzo_prodotto_chimico' fk_prodottochimico=prodottochimico.pk pk=prezzo.pk %}">{{ prezzo.data_inserimento }}</a></td>
              <td class="text-end">{{ prezzo.prezzo }}</td>
              <td class="text-center"><a href="{% url 'chem_man:delete_prezzo_prodotto_chimico' pk=prezzo.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{prezzo.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
            </tr>  
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
  </div>

  <div class="col-6">
    <div class="row">
    
    {% if form.instance.id  %}
    <div class="col-6">
      <h5>Schede Sicurezza</h5>
                
    </div>

    <div class="col-6 text-end">
      
      <a href="{% url 'chem_man:aggiungi_scheda_sicurezza' fk_prodottochimico=prodottochimico.pk %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Scheda Sicurezza</a>

    </div>
  </div>
  <div class="table-container">
    <table class="table table-bordered table-striped mt-2">
      <thead>
        <tr>
          <th>Data Revisione</th>
          <th>Documento</th>           
          <th>Azione</th>
          
        </tr>
      </thead>
      <tbody>
        {% for scheda_sicurezza in elenco_schede_sicurezza %}

        <tr>        
          <td><a href="{% url 'chem_man:modifica_scheda_sicurezza' fk_prodottochimico=prodottochimico.pk pk=scheda_sicurezza.pk %}">{{ scheda_sicurezza.data_revisione }}</a></td>
          {% if scheda_sicurezza.documento %}
              <td><a href="{{ scheda_sicurezza.documento.url }}" download>{{ scheda_sicurezza.documento.url }}</a></td>
          {% else %}
              <td>Nessun documento associato</td>
          {% endif %}        
          <td class="text-center"><a href="{% url 'chem_man:delete_scheda_sicurezza' pk=scheda_sicurezza.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{scheda_sicurezza.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
        </tr>  
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div><!--Fine colonna Schede Sicurezza-->
</div><!--Fine prima riga tabelle-->
<br>

<!--Seconda riga tabelle-->
<div class="row">
      <!-- Tabella prezzi -->
      <div class="col-6">
    <div class="row">
    
    {% if form.instance.id  %}
    <div class="col-6">
      <h5>Schede tecniche</h5>
                
    </div>

    <div class="col-6 text-end">
      
      <a href="{% url 'chem_man:aggiungi_scheda_tecnica' fk_prodottochimico=prodottochimico.pk %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Scheda tecnica</a>

    </div>
  </div>
  <div class="table-container">
    <table class="table table-bordered table-striped mt-2">
      <thead>
        <tr>
          <th>Data Inserimento</th>
          <th>Documento</th>           
          <th>Azione</th>
          
        </tr>
      </thead>
      <tbody>
        {% for scheda_tecnica in elenco_schede_tecniche %}

        <tr>        
          <td><a href="{% url 'chem_man:modifica_scheda_tecnica' fk_prodottochimico=prodottochimico.pk pk=scheda_tecnica.pk %}">{{ scheda_tecnica.data_inserimento }}</a></td>
          {% if scheda_tecnica.documento %}
              <td><a href="{{ scheda_tecnica.documento.url }}" download>{{ scheda_tecnica.documento.url }}</a></td>
          {% else %}
              <td>Nessun documento associato</td>
          {% endif %}        
          <td class="text-center"><a href="{% url 'chem_man:delete_scheda_tecnica' pk=scheda_tecnica.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{scheda_tecnica.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
        </tr>  
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
  </div><!--Fine seconda riga tabelle-->

</div> <!--Fine container-->
{% endblock content %}

{% block extra_scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setFocusOnField('id_descrizione');
        });
    </script>
{% endblock %}