{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Scheda Tecnica {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_chem_man.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'chem_man:home_prodotti_chimici' %}">Lista Prodotti Chimici</a></li>        
        <li class="breadcrumb-item"><a href="{% url 'chem_man:modifica_prodotto_chimico' pk=fk_prodottochimico.pk %}">{{ fk_prodottochimico }}</a></li>        

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica Scheda Tecnica</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi Scheda Tecnica</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica Scheda Tecnica</h3>
        {% else %}
            <h3> Aggiungi Scheda Tecnica</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}


            <div class="row">
                <div class="col-2">
                    {{ form.data_inserimento|as_crispy_field }}                    
                </div>
                <div class="col-6">
                    {{ form.documento|as_crispy_field }}                    
                    <button type="button" class="btn btn-sm btn-info" id="openButton">Vedi File</button>
                </div>
                
                <div class="col-3">
                    {{ form.note|as_crispy_field }}                    
                </div>
                <div class="col-1">
                    {{ form.fk_prodottochimico|as_crispy_field }}                    
                </div>
                
                
            </div>
            
            

            
            <input type="submit" class="btn btn-success" value="Salva">
            <button type="button" class="btn btn-danger" onclick="cancelAndRedirectTo(`{% url 'chem_man:modifica_prodotto_chimico' pk=fk_prodottochimico.pk %}`)"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
        </form>
        <hr>
        
        
    </div>



{% endblock %}

{% block extra_scripts %}
<script>
    var openButton = document.getElementById('openButton');
    openButton.addEventListener('click', function() {
      var input = document.getElementById('id_documento');
      if (input.files.length > 0) {
        var fileURL = URL.createObjectURL(input.files[0]);
        window.open(fileURL);
      }
    });
    
        document.addEventListener("DOMContentLoaded", function() {
            setFocusOnField('id_data_inserimento');
        });
    
  </script>
{% endblock %} 