{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Simbolo GHS SDS {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_procedure.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'chem_man:home_prodotti_chimici' %}">Lista Prodotti</a></li>        
        <li class="breadcrumb-item"><a href="{% url 'chem_man:modifica_prodotto_chimico' pk=fk_prodottochimico.pk %}">Prodotto {{ fk_prodotto_chimico }}</a></li>        
        <li class="breadcrumb-item"><a href="{% url 'chem_man:modifica_scheda_sicurezza' fk_prodottochimico=fk_prodottochimico.pk pk=fk_sds.pk %}">Sds Revisione del  {{ fk_sds.data_revisione }}</a></li>        

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica {{ simbolo_ghs_sds.fk_simbolo_ghs.codice }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi Simbolo GHS</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica {{ simbolo_ghs_sds.fk_simbolo_ghs.codice }}</h3>
        {% else %}
            <h3> Aggiungi Simbolo GHS</h3>
        {% endif %}
        
        {% include "core/modals/baseModalGenericSearch.html" %}
        <hr>
        
        
        
        
        <br>

        

        <form class="mt-3" method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}

            
           

            <div class="row">

                <div class="col-md-2 d-flex justify-content-center">
                    {% if form.instance.id %}
                        {% if form.fk_simbolo_ghs.value %}
                        <img src="{{ form.fk_simbolo_ghs.value.symbol_image.url }}"
                            alt="{{ form.fk_simbolo_ghs.value.codice }}"
                            style="height: 200px; width: 200px; border-radius: 50%; margin-top: 25px;"
                            class="avatar"
                            accept=".jpg,.jpeg,.png"
                            id="preview-image"
                        />
                        {% else %}
                        <p>Nessuna immagine</p>
                        {% endif %}
                    {% else %}
                        <p>Nessuna immagine</p>
                    {% endif %}
                </div>


                <div class="col-3">
                    {{ form.fk_simbolo_ghs|as_crispy_field }}
                    
                </div>

                <div class = "col-1 align-items-center">
                              <button type="button" 
                                class="btn btn-info mt-3" 
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="Cerca Simbolo GHS" 
                                style="width:100%"
                                id="openSearchGHSSymbol"
                                data-bs-toggle="modal" 
                                data-bs-target="#searchModal"
                                data-url="{% url 'core:search_ghs_symbol' %}" 
                                data-modal-title="Cerca Simbolo GHS" 
                                data-search-input-label="Cerca Simbolo GHS"
                                data-setfocus=""
                                onclick="handleSearchButtonClick(event)"
                                ><i class="bi bi-search"></i></button>
                            </div>

                <div class="col-4">
                    {{ form.note|as_crispy_field }}
                </div>
                </div>
                <div class="row">
                <div class="col-2">
                    {{ form.created_by|as_crispy_field }}
                </div>

                <div class="col-1">
                    {{ form.fk_sds|as_crispy_field }}
                </div>
                
                
            </div>
            
            
            

            
            <input type="submit" class="btn btn-success mb-2 me-1" value="Salva">
            <button type="button" class="btn btn-danger mb-2 me-1" onclick="cancelAndRedirectTo('{% url 'chem_man:modifica_scheda_sicurezza' fk_prodottochimico=fk_prodottochimico.pk pk=fk_sds.pk %}')"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
        </form>
        <hr>
        
        
    </div>



{% endblock %}

{% block extra_scripts %}
<script>
var symbolImageURL = "{% url 'chem_man:get_symbol_image_url' %}";

$(document).ready(function() {
    // Gestisci l'evento di cambio del campo fk_simbolo_ghs
    $('#id_fk_simbolo_ghs').change(function() {
        handleImagePreviewOption();
    });
});

function handleImagePreviewOption() {
    var selectField = $('#id_fk_simbolo_ghs');
    var previewImageElement = $('#preview-image');
    var noImageTextElement = $('#no-image-text');
    var selectedOptionValue = selectField.val();

    if (selectedOptionValue) {
        $.ajax({
            url: symbolImageURL,
            type: 'GET',
            data: { fk_simbolo_ghs_id: selectedOptionValue },
            success: function(response) {
                if (response.success && response.image_url) {
                    noImageTextElement.hide();
                    previewImageElement.attr('src', response.image_url);
                    previewImageElement.show();
                } else {
                    previewImageElement.hide();
                    noImageTextElement.show();
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log('Errore AJAX:', errorThrown);
            }
        });
    } else {
        previewImageElement.hide();
        noImageTextElement.show();
    }
}

// Inizializza l'anteprima dell'immagine quando il form viene caricato per la modifica
$(window).on('load', function() {
    handleImagePreviewOption();
});



document.addEventListener("DOMContentLoaded", function() {
    setFocusOnField('id_fk_simbolo_ghs');
});
    


</script>

{% endblock %}