{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} | Sostanza SDS {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_chem_man.html" %}
{% endblock %}

{% block content %}

{% include 'chem_man/modals/searchSubstances.html' %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'chem_man:home_prodotti_chimici' %}">Lista Prodotti</a></li>        
        <li class="breadcrumb-item"><a href="{% url 'chem_man:modifica_prodotto_chimico' pk=fk_prodottochimico.pk %}">Prodotto {{ fk_prodotto_chimico }}</a></li>        
        <li class="breadcrumb-item"><a href="{% url 'chem_man:modifica_scheda_sicurezza' fk_prodottochimico=fk_prodottochimico.pk pk=fk_sds.pk %}">Sds Revisione del  {{ fk_sds.data_revisione }}</a></li>        

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica {{ sostanza_sds.fk_sostanza.descrizione|truncatechars:10 }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi Sostanza</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica {{ sostanza_sds.fk_sostanza.descrizione|truncatechars:50 }}</h3>
        {% else %}
            <h3> Aggiungi Sostanza</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>

        

        <form class="mt-3" method="POST" novalidate enctype="multipart/form-data" id="saveForm">
            {% csrf_token %}

            
           

            <div class="row">

                
                <div class="row mt-3">
                    <div class="col-4">
                    
                    <input type="hidden" id="id_fk_sostanza" name="fk_sostanza" value="{{ current_fk_sostanza }}">
                    <input type="text" id="id_fk_sostanza_descrizione" class="form-control" placeholder="Descrizione" readonly>
                    <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#ricercaModal_Substances" id="btnRicercaAvanzata">Ricerca Avanzata</button>
                    </div>
                    <div class="col-4">
                    <input type="text" id="id_fk_sostanza_num_cas" class="form-control" placeholder="Num CAS" readonly>
                    </div>
                    <div class="col-4">
                    <input type="text" id="id_fk_sostanza_num_ec" class="form-control" placeholder="Num EC" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    
                </div>

                <div class="col-2">
                    {{ form.concentrazione|as_crispy_field }}
                </div>

                <div class="col-2">
                    {{ form.note|as_crispy_field }}
                </div>
                
                <div class="col-1">
                    {{ form.created_by|as_crispy_field }}
                </div>

                <div class="col-1">
                    {{ form.fk_sds|as_crispy_field }}
                </div>
                
                
            </div>
            
            
            

            
            <input type="submit" class="btn btn-success" value="Salva">
            <button type="button" class="btn btn-danger" onclick="goBack()"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
        </form>
        <hr>
        
        
    </div>




<!-- Modal per controllare se la sostanza è svhc -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Conferma Salvataggio</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        La sostanza è presente nella lista SVHC. Confermi di voler procedere con il salvataggio?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
        <button type="button" class="btn btn-primary" onclick="$('#saveForm').submit()">Conferma</button>
      </div>
    </div>
  </div>
</div>





{% endblock %}

{% block extra_scripts %}
<script>

// Da qui inizio a gestire il modal di ricerca
// definisco l'url
var searchURL = "{% url 'chem_man:search_sostanza' %}";
var focusId = 'btnRicercaAvanzata'
// Funzione per gestire la ricerca
function searchSostanza(term) {
  $.ajax({
    url: searchURL,
    data: { term: term },
    dataType: 'json',
    success: function(data) {
      // Crea le righe della tabella con i risultati della ricerca
      var tableRows = '';
      for (var i = 0; i < data.length; i++) {
        tableRows += '<tr data-id="' + data[i].id + '" data-descrizione="' + data[i].descrizione + '" data-num-cas="' + data[i].num_cas + '" data-num-ec="' + data[i].num_ec + '">';
        tableRows += '<td>' + data[i].id + '</td>';
        tableRows += '<td>' + data[i].descrizione + '</td>';
        tableRows += '<td>' + data[i].num_cas + '</td>';
        tableRows += '<td>' + data[i].num_ec + '</td>';
        tableRows += '<td><button class="btn btn-primary btn-sm selezionaSostanza">Seleziona</button></td>';
        tableRows += '</tr>';
      }
      // Aggiorna il corpo della tabella con i nuovi risultati
      $('#modalSearchResults').html(tableRows);
    }
  });
}

// Aggiungi un gestore clic per il pulsante "Seleziona" nella tabella del modal
$('#modalSearchResults').on('click', '.selezionaSostanza', function() {
  var id = $(this).closest('tr').data('id');
  var descrizione = $(this).closest('tr').data('descrizione');
  var numCas = $(this).closest('tr').data('num-cas');
  var numEc = $(this).closest('tr').data('num-ec');
  
  // Assegna i valori ai campi appropriati nel tuo form
  $('#id_fk_sostanza').val(id);
  $('#id_fk_sostanza_descrizione').val(descrizione);
  $('#id_fk_sostanza_num_cas').val(numCas);
  $('#id_fk_sostanza_num_ec').val(numEc);



  window.focusId = 'id_concentrazione';


  // Chiudi il modal di ricerca
  $('#ricercaModal_Substances').modal('hide');
});


// Gestione dell'evento di input per il campo di ricerca nel modal
$('#modalSearchInput').on('input', function() {
  var term = $(this).val();
  searchSostanza(term);
});

// qui finisco di gestire il modal per la ricerca


 // Funzione per gestire il clic sul pulsante "Salva"
  function handleSaveButtonClick() {
    // Esegui il controllo per verificare se la sostanza è presente nell'altro modello
    $.ajax({
      url: '{% url "chem_man:check_if_svhc" %}',
      data: { fk_sostanza: $('#id_fk_sostanza').val() },
      dataType: 'json',
      success: function(data) {
        if (data.exists) {
          // La sostanza è presente nell'altro modello, apri il modal di conferma
          $('#confirmModal').modal('show');
        } else {
          // La sostanza non è presente nell'altro modello, esegui il salvataggio
          $('#saveForm').submit();
        }
      }
    });
  }




    document.addEventListener("DOMContentLoaded", function() {
        setFocusOnField(focusId);
    });
    


</script>


{% endblock %}