{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} | Sostanza SDS {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_procedure.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'chem_man:home_prodotti_chimici' %}">Lista Prodotti</a></li>        
        <li class="breadcrumb-item"><a href="{% url 'chem_man:modifica_prodotto_chimico' pk=fk_prodottochimico.pk %}">Prodotto {{ fk_prodotto_chimico }}</a></li>        
        <li class="breadcrumb-item"><a href="{% url 'chem_man:modifica_scheda_sicurezza' fk_prodottochimico=fk_prodottochimico.pk pk=fk_sds.pk %}">Sds Revisione del  {{ fk_sds.data_revisione }}</a></li>        

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica {{ sostanza_sds.fk_sostanza.descrizione|truncatechars:10 }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi Sostanza</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica {{ sostanza_sds.fk_sostanza.descrizione|truncatechars:50 }}</h3>
        {% else %}
            <h3> Aggiungi Sostanza</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>

        

        <form class="mt-3" method="POST" novalidate enctype="multipart/form-data" id="saveForm">
            {% csrf_token %}

            
           

            <div class="row">

                <div class="col-8">
                <label for="search-input">Cerca per CAS o EC</label>
                    <input type="text" id="search-input" class="form-control" placeholder="Cerca Sostanza">
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <ul id="option-list" class="list-group">
    
    </ul>
                </div>
                <div class="row mt-3">
                    <div class="col-4">
                    
                    <input type="hidden" id="id_fk_sostanza" name="fk_sostanza" value="{{ current_fk_sostanza }}">
                    <input type="text" id="id_fk_sostanza_descrizione" class="form-control" placeholder="Descrizione" readonly>
                    </div>
                    <div class="col-4">
                    <input type="text" id="id_fk_sostanza_num_cas" class="form-control" placeholder="Num CAS" readonly>
                    </div>
                    <div class="col-4">
                    <input type="text" id="id_fk_sostanza_num_ec" class="form-control" placeholder="Num EC" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    
                </div>

                <div class="col-2">
                    {{ form.concentrazione|as_crispy_field }}
                </div>

                <div class="col-2">
                    {{ form.note|as_crispy_field }}
                </div>
                
                <div class="col-1">
                    {{ form.created_by|as_crispy_field }}
                </div>

                <div class="col-1">
                    {{ form.fk_sds|as_crispy_field }}
                </div>
                
                
            </div>
            
            
            

            
            <input type="submit" class="btn btn-success" value="Salva">
        </form>
        <hr>
        
        
    </div>


<!-- Aggiungi questo modal al tuo template -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Conferma Salvataggio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        La sostanza è presente in un altro modello. Confermi di voler procedere con il salvataggio?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
        <button type="button" class="btn btn-primary" onclick="$('#saveForm').submit()">Conferma</button>
      </div>
    </div>
  </div>
</div>





{% endblock %}

{% block extra_scripts %}
<script>
var searchURL = "{% url 'chem_man:search_sostanza' %}";

// Funzione per gestire la ricerca
function searchSostanza(term) {
  $.ajax({
    url: searchURL,
    data: { term: term },
    dataType: 'json',
    success: function(data) {
      // Crea le opzioni per il campo select
      var optionsList = '';
      for (var i = 0; i < data.length; i++) {
        optionsList += '<li class="list-group-item" data-id="' + data[i].id + '" data-num_cas="' + data[i].num_cas + '" data-num_ec="' + data[i].num_ec + '">' + data[i].descrizione + '</li>';

      }
      // Aggiorna il campo select con le nuove opzioni
      $('#option-list').html(optionsList);
    }
  });
}

// Gestione dell'evento di input per il campo di ricerca
$('#search-input').on('input', function() {
  var term = $(this).val();
  searchSostanza(term);
});

// Gestione del clic sull'opzione
$('#option-list').on('click', 'li', function() {
  var id = $(this).data('id');
  var descrizione = $(this).text();
  var num_cas = $(this).data('num_cas');
  var num_ec = $(this).data('num_ec');
  

  // Assegna i valori ai campi appropriati
  $('#id_fk_sostanza').val(id);
  $('#id_fk_sostanza_descrizione').val(descrizione);
  $('#id_fk_sostanza_num_cas').val(num_cas);
  $('#id_fk_sostanza_num_ec').val(num_ec);
});



 // Funzione per gestire il clic sul pulsante "Salva"
  function handleSaveButtonClick() {
    // Esegui il controllo per verificare se la sostanza è presente nell'altro modello
    $.ajax({
      url: '{% url "chem_man:check_related_model" %}',
      data: { fk_sostanza: $('#id_fk_sostanza').val() },
      dataType: 'json',
      success: function(data) {
        if (data.exists) {
          // La sostanza è presente nell'altro modello, apri il modal di conferma
          $('#confirmModal').modal('show');
        } else {
          // La sostanza non è presente nell'altro modello, esegui il salvataggio
          $('#saveForm').submit();
        }
      }
    });
  }



</script>


{% endblock %}