{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Anagrafiche - Cliente {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_base.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'anagrafiche:home_clienti' %}">Clienti</a></li>
        {% if form.instance.id  %}
        <li class="breadcrumb-item active" aria-current="page">{{ cliente.ragionesociale }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Nuovo Cliente</li>
        {% endif %}
        <hr>
            
        
    </ol>
</nav>

    <div class="container">
        
        {% if form.instance.id  %}
            <h3>Modifica Cliente</h3>
        {% else %}
            <h3> Aggiungi Cliente</h3>
        {% endif %}
        <hr>
        
        {% include "core/partials/_messages.html" %}
        
        
        <br>


        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ form.ragionesociale|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{ form.indirizzo|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.cap|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.city|as_crispy_field }}
                </div>
                <div class="col-1">
                    {{ form.provincia|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.country|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                
                <div class="col-2">
                    {{ form.created_by|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.created_at }}
                </div>
            </div>
           

            
            <input type="submit" class="btn btn-success" value="Salva">
        </form>
        <hr>
        
        
    </div>



{% endblock %}


