{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Anagrafiche - Fornitori {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_base.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'anagrafiche:home_fornitori' %}">Fornitori</a></li>
        
            <li class="breadcrumb-item active" aria-current="page">Nuovo Fornitore</li>
        
    </ol>
</nav>

    <div class="container">
        
        <h3>Aggiungi Fornitore</h3>
        <hr>
        
        {% include "core/partials/_messages.html" %}
        
        
        <br>


        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ form.ragionesociale|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{ form.indirizzo|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.cap|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.city|as_crispy_field }}
                </div>
                <div class="col-1">
                    {{ form.provincia|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.country|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{ form.categoria|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.created_by|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.created_at }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    {{ form.is_lwg|as_crispy_field }}
                </div>
            </div>

            
            <input type="submit" class="btn btn-success" value="Salva">
        </form>
        <hr>
        <!-- sezione certificati LWG -->
        <div class="container-fluid" id="lwg-section">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-10">

                    </div>
                    <div class="col">
                        <a href="{% url 'anagrafiche:aggiungi_lwg' fk_fornitore=fornitore.pk %}" class="btn btn-success">Aggiungi Certificato</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
              <thead class="thead-dark">
              <tr>        
                <th>URN</th>
                <th>Punteggio</th>
                <th>LWG Range</th>
                <th>Data Certificato</th>
                
                
                            
              </tr>
            </thead>
              
              <tbody>
                {% for lwg_cert in lwg_certs %}
                    
                    <td class="col-md-1"><a href="{% url 'anagrafiche:modifica_lwg' pk=lwg_cert.pk %}">{{ lwg_cert.lwg_urn }}</a></td>
                    <td class="col-md-2">{{ lwg_cert.lwg_score }}</td>  
                    <td class="col-md-2">{{ lwg_cert.lwg_range  }} </td>
                    <td class="col-md-2">{{ lwg_cert.lwg_date }}</td> 
                  </tr>
                
                {% endfor %}
                
              </tbody>
            </table>
             
          </div>
    </div>
        <!-- fine sezione certificati LWG -->
        
    </div>



{% endblock %}

{% block scripts %}
<script>
const isLwg = document.getElementById("id_is_lwg");
const lwgSection = document.getElementById("lwg-section");
window.onload = hideLwgSection;

function hideLwgSection(){
    if (isLwg.checked){         
        lwgSection.style.display = "block";
        }else {
            lwgSection.style.display = "none";
        }
    }


isLwg.addEventListener('click', hideLwgSection)


function myFunction() {
    
    var x = document.getElementById("lwg-section");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  } 
</script>
{% endblock %}