{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Anagrafiche - Fornitori {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_base.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'anagrafiche:home_fornitori' %}">Fornitori</a></li>        
        <li class="breadcrumb-item"><a href="#">{{ ragionesociale }}</a></li>
        <li class="breadcrumb-item"><a href="#">{{ certificato }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Transfer Values</li>
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica Certificato</h3>
        {% else %}
            <h3> Aggiungi Certificato</h3>
        {% endif %}
        
        
        <hr>
        
        {% include "core/partials/_messages.html" %}
        
        
        <br>


        <form method="post">
            {% csrf_token %}

            

            <div class="row">
                <div class="col-3">
                    {{ form.fk_lwgfornitore|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.fk_transfervalue|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.quantity|as_crispy_field }}
                </div>
                
            </div>
            
            

            
            <input type="submit" class="btn btn-success" value="Salva">
        </form>
        <hr>
        
        
    </div>



{% endblock %}

{% block scripts %}

{% endblock %} 