{% extends 'core/base.html' %} 
{% load static %}
{% load crispy_forms_tags %} 
{% load custom_filters %}
{% load widget_tweaks %}

{% block head_title %}{{ block.super }} - Ricetta Rifinizione{% endblock head_title %} 



{% block sidenav %}
{% include "core/partials/_sidenav_chem_man.html" %}
{% endblock %}

{% block content %}
{% include 'core/modals/delConfirm.html' %}

<nav aria-label="breadcrumb" class="mt-3"> 
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'ricette:home_ricette_rifinizione' %}">Home Ricette</a></li>     
        
        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica {{ ricettarifinizione }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi Ricetta Rifinizione</li>
        {% endif %}     
    </ol>

</nav>

<div class="container">
    <br>
    
    <div class="container">
      {% if form.instance.id  %}
          <h3>Modifica {{ ricettarifinizione }}</h3>
      {% else %}
          <h3> Aggiungi Ricetta Rifinizione</h3>
      {% endif %}
    <hr>
    <br>
    {% include "core/partials/_messages.html" %}
    
    <!-- Form nuovo registro -->
    
    <div class="form-group mt-3">
        <form class="mt-3" method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}


            <input type="hidden" id="previous_page" name="previous_page"
            value="/previous/page/url">
            <input type="submit" name="salva_esci" class="btn btn-success mb-2 me-1" value="Salva ed Esci">
            <input type="submit" name="salva_continua" class="btn btn-success mb-2 me-1" value="Salva e continua">
            <button type="button" class="btn btn-danger mb-2 me-1" onclick="cancelAndRedirectTo('{% url 'ricette:home_ricette_rifinizione' %}')"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
            
            

            
                    <div class="row mb-4">
                      
                      <div class="col-md-12 border rounded shadow-sm">
                        <div class="row mt-3">
                            <div class = "col-md-2">
                              {{ form.numero_ricetta|as_crispy_field }}
                            </div>
                            <div class = "col-md-2">
                              {{ form.data_ricetta|as_crispy_field }}
                            </div>
                            <div class="col-md-2">
                              {{ form.numero_revisione|as_crispy_field }}
                            </div>
                            <div class="col-md-2">
                              {{ form.data_revisione|as_crispy_field }}
                            </div>
                            <div class="col-md-2">
                              {{ form.ricetta_per_pelli|as_crispy_field }}
                            </div>
                            
                        </div>
                        <div class="row">  
                          <div class="col-md-5">
                            {{ form.fk_articolo|as_crispy_field }} 
                          </div> 
                          
                                                      
                        </div>
                        <div class="row">
                          <div class="col-6">
                            {{ form.note|as_crispy_field }}
                          </div>
                            

                          <div class="col-5 text-end">
                          <h3>Costo: {{ ricettarifinizione.calcola_totale_prezzi }}</h3>
                          <h3>Solvente: Kg. {{ ricettarifinizione.calcola_solvente_totale|format_number_dec_thousand }}</h3>
                          </div>

                          <div class="col-md-1">
                              {{ form.created_by|as_crispy_field }}
                          </div>
                        </div>
                        
                        <hr>
                        

                        

                    </div>
                      </div>

        <!-- fine form -->
        </form>

        

    </div>



    <div class="row">
      

      {% if form.instance.id  %}
          
      {% include "ricette/partials/_dettaglio_ricetta_rifinizione_table.html" %}
  
      {% else %}
          <h3> Non sono presenti righe di dettaglio.</h3>
      {% endif %}


      

</div>


    

</div> <!--Fine container-->
{% endblock content %}

{% block extra_scripts %}
<script>






// Funzione per rendere le righe della tabella trascinabili
  function makeTableRowsDraggable(table) {
    const rows = table.querySelectorAll('tbody tr');

    rows.forEach(row => {
      row.draggable = true;
      row.classList.add('draggable');

      // Aggiungi event listener per il trascinamento
      row.addEventListener('dragstart', () => {
        row.classList.add('dragging');
      });

      row.addEventListener('dragend', () => {
        row.classList.remove('dragging');
        updateRowNumbers(table);
      });
    });

    // Aggiungi event listener per il trascinamento
    table.addEventListener('dragover', (event) => {
      event.preventDefault();
      const afterElement = getDragAfterElement(table, event.clientY);
      const draggingElement = table.querySelector('.dragging');
      if (afterElement == null) {
        table.querySelector('tbody').appendChild(draggingElement);
      } else {
        table.querySelector('tbody').insertBefore(draggingElement, afterElement);
      }
    });
  }

  // Funzione per trovare l'elemento dopo cui deve essere inserito il trascinamento
  function getDragAfterElement(table, y) {
    const draggableElements = [...table.querySelectorAll('.draggable:not(.dragging)')];
    return draggableElements.reduce((closest, child) => {
      const box = child.getBoundingClientRect();
      const offset = y - box.top - box.height / 2;
      if (offset < 0 && offset > closest.offset) {
        return { offset: offset, element: child };
      } else {
        return closest;
      }
    }, { offset: Number.NEGATIVE_INFINITY }).element;
  }



  // Funzione per aggiornare i numeri di riga dopo il trascinamento
  function updateRowNumbers_Old(table) {
    const rows = table.querySelectorAll('tbody tr');
    rows.forEach((row, index) => {
      const rowNumberCell = row.querySelector('td:first-child');
      rowNumberCell.textContent = index + 1;
    });
  }

  var searchURL = "{% url 'ricette:update_row_numbers' %}";
  
  function updateRowNumbers(table) {
  const rows = table.querySelectorAll('tbody tr');
  const newNumbers = [];

  rows.forEach((row, index) => {
    const rowNumberCell = row.querySelector('td:first-child');
    rowNumberCell.textContent = index + 1;
    newNumbers.push({ pk: row.dataset.pk, numero_riga: index + 1 });
  });
  console.log("newNumbers:", JSON.stringify(newNumbers, null, 2));

  // Esegui una chiamata AJAX per inviare i nuovi numeri di riga al backend
  fetch(searchURL, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      /*'Accept': 'application/json',*/
      'X-CSRFToken': getCookie('csrftoken') // Assicurati di includere il CSRF token
    },
    
    body: JSON.stringify({ data: newNumbers.map((item, index) => ({ pk: item.pk, numero_riga: index + 1 })) })

  })  
  .then(response => {
        if (!response.ok) {
            throw new Error('Errore durante l\'aggiornamento dei numeri di riga');
        }
        return response.json();
    })
    .then(data => {
        console.log('Nuovi numeri di riga inviati con successo al backend:', data);
        updateLinksWithNewData(table, newNumbers); // Chiamata alla funzione per aggiornare i link
    })
    .catch(error => {
        console.error('Errore:', error);
    });
}

function updateLinksWithNewData(table, newNumbers) {
    const rows = table.querySelectorAll('tbody tr');
    rows.forEach((row, index) => {
        const rowNumberCell = row.querySelector('td:first-child');
        const pk = newNumbers[index].pk;
        const numero_riga = newNumbers[index].numero_riga;
        const url = `/ricette/modifica_dettaglio_ricetta_rifinizione/{ricettarifinizione.pk}/${pk}/`;
        rowNumberCell.innerHTML = `<a href="${url}" id="numero_riga_${pk}">${numero_riga}</a>`;
    });
}


function printCSRFToken() {
  const csrfToken = getCookie('csrftoken');
  console.log('CSRF Token:', csrfToken);
}



// Funzione per ottenere il valore del CSRF token
function getCookie(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) return parts.pop().split(';').shift();
}

  printCSRFToken();
  // Applica il trascinamento delle righe alla tabella
  console.log("tabella: " + document.getElementById('myTable'))
  makeTableRowsDraggable(document.getElementById('myTable'));


</script>
{% endblock %}