{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Schede Lavorazione {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_vendite.html" %}
{% endblock %}

{% block content %}
{% include 'core/modals/delConfirm.html' %}

<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item active" aria-current="page">Schede Lavorazione</li>
    </ol>
</nav>

    <div class="container">
        
        <h3>Schede Lavorazione</h3>
        <!-- Statistiche -->
        <div class="row">
        <div class="col-md-8"></div>
        
        </div> <!-- Fine Statistiche -->
        <br>
        {% include "core/partials/_messages.html" %}
        

        <!-- Riga grafici e statistiche -->
        <div class="row">
          <div class="col-4">        
            <canvas id="country_count" data-url=""></canvas>
          </div>
        </div>
        <!-- Fine riga grafici e statistiche -->

        <!-- Inizio filtro -->
        <div class="row">
          <div class="col">
            <div class="card card-body">
        
              
              <form method="get">
        
                <div class="table-responsive-sm">
                  <table class="table table-hover table-striped table-bordered">
                    <thead class="thead-dark">
                      <tr>     
                        <th>Numero Scheda</th>
                        <th>Articolo</th>
                        <th>Colore</th>
                        <th>Numero Ordine</th>
                        <th>Data Scheda</th>
                        <th>Scheda Chiusa</th>
                        
                      </tr>
                    </thead>
                    
                    <tbody>
                    <tr>
                      <td style="width: 10%">                
                        {% render_field filter.form.numero_scheda class="form-control" %}
                      </td>
                      
                      <td style="width: 20%">
                        {% render_field filter.form.articolo_descrizione class="form-control" %}
                      </td>
                      <td style="width: 20%">
                        {% render_field filter.form.colore_descrizione class="form-control" %}
                      </td>
                      <td style="width: 10%">
                        {% render_field filter.form.numero_ordine class="form-control" %}
                      </td>
                      <td style="width: 15%">
                        {% render_field filter.form.data_scheda_da class="form-control" %}
                      </td>
                      <td style="width: 15%">
                        {% render_field filter.form.data_scheda_a class="form-control" %}
                      </td>
                      <td style="width: 10%">
                        {% render_field filter.form.scheda_chiusa class="form-control" %}
                      </td>
                      
                    </tr>
              
                    
                    
                  </tbody>
                  </table>
                </div>
                  
        
                
        
                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i>&nbsp;&nbsp; Cerca</button>
                <a class="btn btn-success" href="{% url 'vendite:home_schede_lavorazione' %}"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Pulisci campi</a>
                
              </form>
              
              
            </div>
          </div>
          
        </div>
        <!-- Fine filtro -->

        <hr>
        <div class="d-flex flex-row-reverse bd-highlight">
        <a href="{% url 'vendite:aggiungi_scheda_lavorazione' %}" class="btn btn-success p-2 bd-highlight"><i class="bi bi-person-plus"></i> Aggiungi Scheda Lavorazione</a>
        </div>  
        <br>


        <div class="container-fluid">
            <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
              <thead class="thead-dark">
              <tr>        
                <th>Scheda</th>
                <th>Data Scheda</th>
                <th>Articolo e Colore</th>
                <th>Ordine N.</th>
                <th>Quantità</th>
                <th>Azione</th>

                
                            
              </tr>
            </thead>
              
              <tbody>
                {% for scheda in schede_lavorazione_paginator %}
                    
                    <td class="col-md"><a href="{% url 'vendite:modifica_scheda_lavorazione' pk=scheda.pk %}">{{ scheda.pk }}</a></td>
                    <td class="col-md text-end">{{ scheda.data_scheda }}</td>
                    <td class="col-md text-end">{{ scheda.fk_articolo }} {{ scheda.fk_colore }}</td>                    
                    <td class="col-md text-end">{{ scheda.fk_dettaglio_ordine_cliente.numero_ordine }}</td>  
                    <td class="col-md">{{ scheda.tot_pelli  }} </td>
                    <td class="col-md text-center"><a href="{% url 'vendite:delete_scheda_lavorazione' pk=scheda.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{scheda.pk}}"><i class="bi bi-trash"></i>Elimina</a></td> 
                  </tr>
                
                {% endfor %}
                
              </tbody>
            </table>





    <!-- Pagination -->
{% if schede_lavorazione_paginator.has_other_pages %}
<nav>
  <ul class="pagination justify-content-center">
    {% if schede_lavorazione_paginator.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ schede_lavorazione_paginator.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&laquo;</span>
      </li>
    {% endif %}

    {% for page in schede_lavorazione_paginator.paginator.page_range %}
      {% if page == schede_lavorazione_paginator.number %}
        <li class="page-item active">
          <span class="page-link">{{ page }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if schede_lavorazione_paginator.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ schede_lavorazione_paginator.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
<!-- End Pagination -->


          </div>
    </div>




    </div>



{% endblock %}
{% block extra_scripts %}
<script>
  

</script>
{% endblock %}