<div class="sidenav">
    <p class="ms-2"><i class="bi bi-house"></i> Main</p>
    <nav>
        
        <ul>
            <li class="border-top my-3"></li>

            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#registri" aria-expanded="false">
                    Stampa registri
                </button>
                <div class="collapse" id="registri">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#myModal" onclick="setModalUrl('{% url 'monitoraggi:report_dati_produzione' %}', 'Dati Produzione')"> 
                        Dati Produzione
                    </a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#myModal" onclick="setModalUrl('{% url 'monitoraggi:report_energia' %}', 'Dati Produzione')"> 
                        Dati Energia
                    </a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#myModal" onclick="setModalUrl('{% url 'monitoraggi:report_gas' %}', 'Dati Produzione')"> 
                        Dati Gas
                    </a></li>                    
                    
                    </ul>
                </div>
                </li>
                <li class="border-top my-3"></li>

            <li><a href="{% url 'manualeprocedure:procedure_home' %}">Procedure</a></li>
            <li><a href="{% url 'lwg:lwg_home' %}">LWG</a></li>
        </ul>
    </nav>
</div>