<div class="sidenav">
    <p class="ms-2"><i class="bi bi-house"></i> Main</p>
    <nav>
        
        <ul>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <li><a href="{% url 'human_resources:tabelle_generiche' %}">Tabelle Generiche</a></li>
                
                <li><a href="{% url 'human_resources:human_resources' %}">Lista Operatori</a></li>
                <li><a href="{% url 'human_resources:dashboard_registro_ore' %}">Registro Ore</a></li>
                <li><a href="{% url 'human_resources:dashboard_formazione' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Formazione</a></li>

                
                
                
                    
            
            
                <li><a href="{% url 'human_resources:tabelle_generiche_formazione' %}">Tabelle Formazione</a></li>
                <li><a href="{% url 'human_resources:dashboard_registro_ore' %}">Registro Ore</a></li>
                <li class="border-top my-3"></li>
                <li><a href="{% url 'human_resources:performance_triennio' %}" target="_blank">Performance Aziendale</a></li>
                <li class="border-top my-3"></li>
                <li><a href="{% url 'manualeprocedure:procedure_home' %}">Procedure</a></li>
                <li><a href="{% url 'lwg:lwg_home' %}">LWG</a></li>

                </li>
        </ul>
    </nav>
</div>