

<div class="sidenav">
    
    <nav>
        
        <ul>
            <li class="border-top my-3"></li>
                <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#registri" aria-expanded="false">
                    Stampa registri
                </button>
                <div class="collapse" id="registri">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#selezioneDateModal" onclick="setModalUrl('{% url 'manutenzioni:piano_manutenzioni' %}', 'Piano delle manutenzioni')"> 
                        Piano Manutenzioni
                    </a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#selezioneDateModal" onclick="setModalUrl('{% url 'manutenzioni:piano_tarature' %}', 'Piano delle tarature')"> 
                        Piano Tarature
                    </a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#selezioneDateModal" onclick="setModalUrl('{% url 'manutenzioni:piano_controlli_periodici' %}', 'Piano delle Verifiche Periodiche')"> 
                        Verifiche Periodiche
                    </a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#selezioneDateModal" onclick="setModalUrl('{% url 'manutenzioni:manutenzioni_straordinarie' %}', 'Manutenzioni Straordinarie')"> 
                        Manutenzioni Straordinarie
                    </a></li>
                                       
                    
                    </ul>
                </div>
                </li>
                <li class="border-top my-3"></li>
            
            <li><a href="{% url 'manualeprocedure:procedure_home' %}">Procedure</a></li>
            <li><a href="{% url 'lwg:lwg_home' %}">LWG</a></li>
        </ul>
    </nav>
</div>

