{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Antincendio - Registro Antincendio {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_antincendio.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'antincendio:antincendio_home' %}">Home Antincendio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'antincendio:registro_controlli_home' %}">Home Registri Antincendio</a></li>

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica Registro del {{ registro.data_intervento }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi Registro</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica Registro del {{ registro.data_intervento }}</h3>
        {% else %}
            <h3> Aggiungi Registro</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>


        <form method="post">
            {% csrf_token %}

            

            <div class="row">
                <div class="col-3">
                    {{ form.interno_esterno|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.numero_intervento|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.data_intervento|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.prossima_scadenza|as_crispy_field }}
                </div>

                
                
            </div>

            <div class="row">
                <div class="col-6">
                    {{ form.fk_fornitore|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.fk_operatore|as_crispy_field }}
                </div>
                
            </div>

            <div class="row">
                <div class="col-6">
                    {{ form.note|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.created_by|as_crispy_field }}
                </div>
                
            </div>
            
            

            
            <input type="submit" class="btn btn-success" value="Salva">
            <button type="button" class="btn btn-danger" onclick="goBack()"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
        </form>
        <hr>
        
        
    </div>



{% endblock %}

{% block extra_scripts %}

{% endblock %} 